Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(30-03): complete swipe-to-dismiss toast plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-mobile-native-feel/30-03-SUMMARY.md
Due: none

docs(phase-30): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/30-mobile-native-feel/30-VERIFICATION.md
Due: none

docs(31): capture phase context
  .planning/phases/31-animation-interaction-polish/31-CONTEXT.md
Due: none

docs(32): capture phase context
  .planning/phases/32-celebration-system-elevation/32-CONTEXT.md
Due: none

docs(31): research phase domain
  .planning/phases/31-animation-interaction-polish/31-RESEARCH.md
Due: none

docs(31): create phase plan
  .planning/ROADMAP.md
  .planning/phases/31-animation-interaction-polish/31-01-PLAN.md
  .planning/phases/31-animation-interaction-polish/31-02-PLAN.md
  .planning/phases/31-animation-interaction-polish/31-03-PLAN.md
  .planning/phases/31-animation-interaction-polish/31-04-PLAN.md
  .planning/phases/31-animation-interaction-polish/31-05-PLAN.md
Due: none

fix(31): revise plans based on checker feedback
  .planning/phases/31-animation-interaction-polish/31-02-PLAN.md
  .planning/phases/31-animation-interaction-polish/31-03-PLAN.md
Due: none

docs(32): research phase domain
  .planning/phases/32-celebration-system-elevation/32-RESEARCH.md
Due: none

docs(32): create phase plan
  .planning/ROADMAP.md
  .planning/phases/32-celebration-system-elevation/32-01-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-02-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-03-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-04-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-05-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-06-PLAN.md
Due: none

docs(32): research domain and create phase plans
  .planning/phases/32-celebration-system-elevation/32-01-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-02-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-03-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-04-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-05-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-06-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-RESEARCH.md
Due: none

docs(33): capture phase context
  .planning/phases/33-states-accessibility/33-CONTEXT.md
Due: none

docs(33): research phase domain
  .planning/phases/33-states-accessibility/33-RESEARCH.md
Due: none

docs(33): create phase plan
  .planning/ROADMAP.md
  .planning/phases/33-states-accessibility/33-01-PLAN.md
  .planning/phases/33-states-accessibility/33-02-PLAN.md
  .planning/phases/33-states-accessibility/33-03-PLAN.md
  .planning/phases/33-states-accessibility/33-04-PLAN.md
  .planning/phases/33-states-accessibility/33-05-PLAN.md
Due: none

docs(33): research domain and create phase plans
  .planning/phases/33-states-accessibility/33-01-PLAN.md
  .planning/phases/33-states-accessibility/33-02-PLAN.md
  .planning/phases/33-states-accessibility/33-03-PLAN.md
  .planning/phases/33-states-accessibility/33-04-PLAN.md
  .planning/phases/33-states-accessibility/33-05-PLAN.md
  .planning/phases/33-states-accessibility/33-RESEARCH.md
Due: none

feat(31-02): add playDismiss sound effect for overlay exit audio cue
  src/lib/audio/soundEffects.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(31-04): add scale+fade enter animation to Card.tsx
  src/components/ui/Card.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(31-01): add three-tier button press system with SPRING_PRESS_DOWN
  src/components/ui/Button.tsx
  src/lib/motion-config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(31-01): align BilingualButton with Button.tsx three-tier press system
  src/components/bilingual/BilingualButton.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(31-01): complete three-tier button press plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/31-animation-interaction-polish/31-01-SUMMARY.md
Due: none

feat(31-02): add exit animations to Dialog with AnimatePresence + forceMount
  src/components/ui/Dialog.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(31-04): add scale+fade enter animation to GlassCard.tsx
  src/components/ui/GlassCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(31-02): complete dialog exit animations plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/31-animation-interaction-polish/31-02-SUMMARY.md
Due: none

docs(31-04): complete card enter animations plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/31-animation-interaction-polish/31-04-SUMMARY.md
Due: none

feat(31-03): add noise texture, text-shadow, and edge highlights to glass tiers
  src/styles/globals.css
  src/styles/tokens.css
Due: pnpm exec prettier --write

fix(31-03): migrate HistoryTab glass-card to glass-light tier
  src/components/hub/HistoryTab.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(31-03): complete glass-morphism polish plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/31-animation-interaction-polish/31-03-SUMMARY.md
Due: none

feat(31-05): add adaptive stagger timing and low-end device detection
  src/components/animations/StaggeredList.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(31-05): audit StaggeredList coverage across 20 consumer files
  src/components/animations/StaggeredList.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(31-05): complete adaptive stagger timing plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/31-animation-interaction-polish/31-05-SUMMARY.md
Due: none

docs(phase-31): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/31-animation-interaction-polish/31-VERIFICATION.md
Due: none

feat(32-04): enhance CountUpScore with dramatic easing, overshoot, and color shift
  src/components/celebrations/CountUpScore.tsx
  src/lib/audio/soundEffects.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(32-04): create XPCounter component and add xpSlot to QuizHeader
  src/components/quiz/QuizHeader.tsx
  src/components/quiz/XPCounter.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(32-02): add celebration sounds module with choreography staging
  src/lib/audio/celebrationSounds.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-02): complete celebration sounds plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-02-SUMMARY.md
Due: none

feat(32-03): add DotLottie animation wrapper with CSP and lazy loading
  middleware.ts
  src/components/celebrations/DotLottieAnimation.tsx
  src/components/celebrations/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-04): complete score animation & XP counter plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-04-SUMMARY.md
Due: none

docs(32-03): complete DotLottie animation wrapper plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-03-SUMMARY.md
Due: none

feat(32-01): fix confetti leak and add themed shapes with party popper physics
  src/components/celebrations/Confetti.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-01): complete confetti leak fix and themed shapes plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-01-SUMMARY.md
Due: none

feat(32-05): create useCelebration hook with DOM CustomEvent bus
  src/hooks/useCelebration.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
