Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-10): add flagged disagreements review file and verify build
  .planning/phases/25-burmese-translation-audit/flagged-disagreements.md
Due: none

docs(25-10): complete audio regeneration and final verification plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-10-SUMMARY.md
Due: none

fix(interview): advance past greeting/reading phases even when TTS fails
  src/components/interview/InterviewSession.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(tts): ensure natural/neural voice selection before first speak
  src/contexts/TTSContext.tsx
  src/lib/ttsCore.test.ts
  src/lib/ttsCore.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(interview): replace live TTS with pre-generated Ava audio
  public/audio/en-US/ava/interview/closing-fail-01.mp3
  public/audio/en-US/ava/interview/closing-fail-02.mp3
  public/audio/en-US/ava/interview/closing-pass-01.mp3
  public/audio/en-US/ava/interview/closing-pass-02.mp3
  public/audio/en-US/ava/interview/correct-prefix.mp3
  public/audio/en-US/ava/interview/fail-announce.mp3
  public/audio/en-US/ava/interview/greeting-01.mp3
  public/audio/en-US/ava/interview/greeting-02.mp3
  public/audio/en-US/ava/interview/greeting-03.mp3
  public/audio/en-US/ava/interview/incorrect-prefix.mp3
  public/audio/en-US/ava/interview/pass-announce.mp3
  scripts/generate-interview-audio.py
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSession.tsx
  src/lib/audio/audioPlayer.ts
  src/lib/interview/interviewGreetings.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(test): resolve three UI bugs in mock test flow
  src/components/sessions/ResumePromptModal.tsx
  src/components/sessions/SessionCountdown.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(audit): v2.1 milestone audit - 49/56 reqs satisfied
  .planning/v2.1-MILESTONE-AUDIT.md
Due: none

docs(roadmap): add gap closure phases 26-27
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/26-gap-closure-session-nav-tts/.gitkeep
  .planning/phases/27-gap-closure-timer-a11y/.gitkeep
Due: none

docs(26): research phase domain
  .planning/phases/26-gap-closure-session-nav-tts/26-RESEARCH.md
Due: none

docs(26-gap-closure-session-nav-tts): create phase plan
  .planning/ROADMAP.md
  .planning/phases/26-gap-closure-session-nav-tts/26-01-PLAN.md
  .planning/phases/26-gap-closure-session-nav-tts/26-02-PLAN.md
  .planning/phases/26-gap-closure-session-nav-tts/26-03-PLAN.md
Due: none

fix(quiz): add RESUME_SESSION action for mock test resume
  src/lib/quiz/quizReducer.ts
  src/lib/quiz/quizTypes.ts
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(tts): add VoicePicker for TTS voice selection in Settings
  src/components/settings/VoicePicker.tsx
  src/contexts/TTSContext.tsx
  src/lib/ttsTypes.ts
  src/pages/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(interview,nav): English-only realistic mode + sort route fix
  src/components/interview/InterviewSession.tsx
  src/components/sessions/UnfinishedBanner.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(phase-26): complete phase execution — summaries, roadmap, state
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-gap-closure-session-nav-tts/26-01-SUMMARY.md
  .planning/phases/26-gap-closure-session-nav-tts/26-02-SUMMARY.md
  .planning/phases/26-gap-closure-session-nav-tts/26-03-SUMMARY.md
Due: none

docs(phase-26): verification passed, phase complete
  .planning/ROADMAP.md
  .planning/phases/26-gap-closure-session-nav-tts/26-VERIFICATION.md
Due: none

docs(state): update session continuity for Phase 27 transition
  .planning/STATE.md
Due: none

docs(27): capture phase context
  .planning/phases/27-gap-closure-timer-a11y/27-CONTEXT.md
Due: none

docs(state): record phase 27 context session
  .planning/STATE.md
Due: none

docs(27): create phase plan for timer accessibility
  .planning/ROADMAP.md
  .planning/phases/27-gap-closure-timer-a11y/27-01-PLAN.md
Due: none

feat(a11y): add sr-only timer announcements and WCAG 2.2.1 exception docs
  src/components/test/CircularTimer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(phase-27): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/27-gap-closure-timer-a11y/27-01-SUMMARY.md
  .planning/phases/27-gap-closure-timer-a11y/27-VERIFICATION.md
Due: none

docs: roadmap table fix, auto-advance config, phase 25 verification
  .planning/ROADMAP.md
  .planning/config.json
  .planning/phases/25-burmese-translation-audit/25-VERIFICATION.md
Due: pnpm exec prettier --write

fix(ci): resolve audit vulnerabilities via pnpm overrides
  .gitignore
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix(ci): audit production deps only, ignore unfixable transitive CVEs
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix(audio): add timeout fallback to audioPlayer to prevent interview hangs
  src/lib/audio/audioPlayer.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(requirements): mark 55/56 v2.1 requirements as satisfied
  .planning/REQUIREMENTS.md
Due: none

docs(28): capture phase context
  .planning/phases/28-interview-ux-voice-flow-polish/28-CONTEXT.md
Due: none

docs(state): record phase 28 context session
  .planning/STATE.md
Due: none

docs(28): research phase domain
  .planning/phases/28-interview-ux-voice-flow-polish/28-RESEARCH.md
Due: none

docs(28): create 9 phase plans with requirements and roadmap update
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-01-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-02-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-03-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-04-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-05-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-06-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-07-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-08-PLAN.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-09-PLAN.md
Due: none

feat(28-03): create useInterviewGuard hook
  src/hooks/useInterviewGuard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-02): create TextAnswerInput component for text-based interview answering
  src/components/interview/TextAnswerInput.tsx
  src/lib/audio/audioPrecache.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-02): create KeywordHighlight component for keyword feedback display
  src/components/interview/KeywordHighlight.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-03): create useOrientationLock hook
  src/hooks/useOrientationLock.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(28-02): add unit tests for KeywordHighlight component
  src/components/interview/KeywordHighlight.test.tsx
  src/hooks/useVisibilityPause.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-01): create network quality check utility with cross-browser fallback
  src/lib/audio/networkCheck.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(28-01): add unit tests for audio pre-cache and network quality check
  src/lib/audio/audioPrecache.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-02): complete text input and keyword highlight plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-02-SUMMARY.md
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
