Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

feat(46-01): enhance mergeStreakData with freeze recalculation and longest recomputation
  src/lib/social/streakSync.test.ts
  src/lib/social/streakSync.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(46-01): complete data layer plan for cross-device sync
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/46-cross-device-sync/46-01-SUMMARY.md
Due: none

feat(46-03): create useVisibilitySync hook for tab visibility re-pull
  src/hooks/useVisibilitySync.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(46-02): wire settings sync push into ThemeContext, LanguageContext, TTSContext, and useTestDate
  src/contexts/LanguageContext.tsx
  src/contexts/TTSContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useTestDate.ts
  src/lib/settings/index.ts
  src/lib/settings/settingsSync.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(46-03): integrate settings/bookmark pull on login and wire visibility sync
  src/contexts/SocialContext.tsx
  src/contexts/SupabaseAuthContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(46-02): wire bookmark sync push into useBookmarks hook
  src/__tests__/tts.integration.test.tsx
  src/components/interview/KeywordHighlight.test.tsx
  src/hooks/useBookmarks.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(46-03): complete visibility sync & login hydration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/46-cross-device-sync/46-03-SUMMARY.md
Due: none

docs(46-02): complete context wiring plan for cross-device sync
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/46-cross-device-sync/46-02-SUMMARY.md
Due: none

docs(phase-46): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/46-cross-device-sync/46-VERIFICATION.md
Due: none

Add project CLAUDE.md with stack, commands, paths, and critical notes
  .claude/CLAUDE.md
Due: none

docs(v4.0): complete milestone audit — 38/38 requirements satisfied
  .planning/v4.0-MILESTONE-AUDIT.md
Due: none

docs(v4.0): resolve tech debt — add SUMMARY frontmatter, update audit to PASSED
  .planning/phases/47-performance-optimization/47-01-SUMMARY.md
  .planning/phases/47-performance-optimization/47-02-SUMMARY.md
  .planning/v4.0-MILESTONE-AUDIT.md
Due: none

docs: update README.md for v4.0 — App Router, nonce CSP, study guidance, content enrichment, cross-device sync, updated stats
  README.md
Due: none

fix: resolve session expiration caused by onAuthStateChange deadlock
  src/contexts/SupabaseAuthContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: move AuthProvider above Language/Theme/TTS providers
  .claude/CLAUDE.md
  src/components/ClientProviders.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: update learnings with auth provider ordering fix and error history
  .claude/ERROR_HISTORY.md
  .claude/learnings/INDEX.md
  .claude/learnings/provider-ordering.md
Due: none

fix: interview mode — show all answers, neutral real-exam feedback, USCIS officer naming
  src/components/interview/ExaminerCharacter.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/TypingIndicator.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: hide landscape rotation overlay on desktop viewports
  src/components/interview/LandscapeOverlay.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: add v1.1 milestone doc and update learnings with landscape variant fix
  .claude/learnings/INDEX.md
  .claude/learnings/css-specificity.md
  docs/NEXT-MILESTONE-v1.1.md
Due: none

fix: restore original bilingual op-ed editorial content
  src/constants/opEd/opEdContent.ts
  src/views/OpEdPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: resolve CI audit failures — bump next to 16.1.7, override vulnerable transitive deps
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs: deep-dive concerns analysis for next milestone prep
  .planning/codebase/CONCERNS.md
Due: none

docs: start milestone v4.1 Production Hardening
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: complete project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define milestone v4.1 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v4.1 roadmap (6 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(48): capture phase context
  .planning/phases/48/48-CONTEXT.md
Due: none

docs(state): record phase 48 context session
  .planning/STATE.md
Due: none

docs(48): create phase plan — 4 plans in 1 wave
  .planning/ROADMAP.md
  .planning/phases/48/48-01-PLAN.md
  .planning/phases/48/48-02-PLAN.md
  .planning/phases/48/48-03-PLAN.md
  .planning/phases/48/48-04-PLAN.md
Due: none

docs(48): amend context - chromium-only for smoke test
  .planning/phases/48/48-CONTEXT.md
Due: none

feat(48-02): add CSS lint step to CI pipeline
  .github/workflows/ci.yml
Due: none

feat(48-01): remove DotLottie package and component (DEPS-01)
  package.json
  pnpm-lock.yaml
  src/components/celebrations/CelebrationOverlay.tsx
  src/components/celebrations/DotLottieAnimation.tsx
  src/components/celebrations/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(48-03): add failing tests for renderWithProviders utility
  src/__tests__/utils/renderWithProviders.test.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(48-01): document safeAsync as reserved, remove 5 redundant RLS policies
  src/lib/async/index.ts
  src/lib/async/safeAsync.ts
  supabase/schema.sql
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(48-03): implement renderWithProviders utility with preset system
  src/__tests__/utils/renderWithProviders.test.tsx
  src/__tests__/utils/renderWithProviders.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(48-02): add global coverage floor and per-file thresholds for src/lib/
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(48-01): complete dead dependency removal plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/48/48-01-SUMMARY.md
Due: none

docs(48-03): complete renderWithProviders utility plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/48/48-03-SUMMARY.md
Due: none
