Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

fix(39-04): fix stylelint errors from stylelint 17.3 upgrade
  next-env.d.ts
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(39-04): complete full verification suite and smoke test plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-04-SUMMARY.md
Due: none

docs(phase-39): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-VERIFICATION.md
Due: none

docs(40): update phase context with refined decisions
  .planning/phases/40-app-router-foundation/40-CONTEXT.md
Due: none

docs(state): record phase 40 context session
  .planning/STATE.md
Due: none

docs(40): generate integration map
  .planning/phases/40-app-router-foundation/40-INTEGRATION-MAP.md
Due: none

docs(40): research phase domain
  .planning/phases/40-app-router-foundation/40-RESEARCH.md
Due: none

docs(40): create phase plan
  .planning/ROADMAP.md
  .planning/phases/40-app-router-foundation/40-01-PLAN.md
  .planning/phases/40-app-router-foundation/40-02-PLAN.md
  .planning/phases/40-app-router-foundation/40-03-PLAN.md
Due: none

docs: save local patches (GSD config, session logs)
  .claude/session-logs/2026-02-22.md
  .claude/session-logs/2026-02-23.md
  .claude/session-logs/2026-02-24.md
  .claude/session-logs/issue-drafts.md
  .planning/config.json
Due: pnpm exec prettier --write

feat(40-01): extract theme script to shared constant
  pages/_document.tsx
  src/lib/themeScript.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(40-01): create ClientProviders with 10 context providers
  src/components/ClientProviders.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(40-01): complete shared foundations plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/40-app-router-foundation/40-01-SUMMARY.md
Due: none

feat(40-02): build production-ready App Router root layout
  app/layout.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(40-02): refactor AppShell to use ClientProviders
  next-env.d.ts
  src/AppShell.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(40-02): complete root layout & AppShell refactor plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/40-app-router-foundation/40-02-SUMMARY.md
Due: none

feat(40-03): auth guard layout and unified returnTo pattern
  app/(protected)/layout.tsx
  src/pages/AuthPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(40-03): handle nullable usePathname in protected layout
  app/(protected)/layout.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(40-03): complete auth guard layout & returnTo pattern plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/40-app-router-foundation/40-03-SUMMARY.md
Due: none

docs(phase-40): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/40-app-router-foundation/40-VERIFICATION.md
Due: none

docs(41): capture phase context
  .planning/phases/41-route-migration/41-CONTEXT.md
Due: none

docs(state): record phase 41 context session
  .planning/STATE.md
Due: none

docs(41): generate integration map
  .planning/phases/41-route-migration/41-INTEGRATION-MAP.md
Due: none

docs(41): research route migration domain
  .planning/phases/41-route-migration/41-RESEARCH.md
Due: none

docs(41): create phase plan for route migration
  .planning/ROADMAP.md
  .planning/phases/41-route-migration/41-01-PLAN.md
  .planning/phases/41-route-migration/41-02-PLAN.md
  .planning/phases/41-route-migration/41-03-PLAN.md
  .planning/phases/41-route-migration/41-04-PLAN.md
  .planning/phases/41-route-migration/41-05-PLAN.md
Due: none

feat(41-02): migrate subscribe and send push API routes to App Router
  app/(public)/about/page.tsx
  app/(public)/auth/forgot/page.tsx
  app/(public)/auth/page.tsx
  app/(public)/auth/update-password/page.tsx
  app/(public)/error.tsx
  app/(public)/op-ed/page.tsx
  app/(public)/page.tsx
  app/api/push/send/route.ts
  app/api/push/subscribe/route.ts
  app/error.tsx
  app/not-found.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(41-02): migrate srs-reminder and weak-area-nudge routes, remove old pages
  app/api/push/srs-reminder/route.ts
  app/api/push/weak-area-nudge/route.ts
  pages/api/push/send.ts
  pages/api/push/subscribe.ts
  pages/op-ed.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(41-01): create protected route pages, template, loading, hub catch-all, and config redirects
  app/(protected)/error.tsx
  app/(protected)/home/page.tsx
  app/(protected)/hub/[[...tab]]/HubPageClient.tsx
  app/(protected)/hub/[[...tab]]/page.tsx
  app/(protected)/interview/page.tsx
  app/(protected)/loading.tsx
  app/(protected)/practice/page.tsx
  app/(protected)/settings/page.tsx
  app/(protected)/study/page.tsx
  app/(protected)/template.tsx
  app/(protected)/test/page.tsx
  next.config.mjs
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(41-02): complete push notification route migration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-route-migration/41-02-SUMMARY.md
Due: none

docs(41-01): complete route scaffolding plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-route-migration/41-01-SUMMARY.md
Due: none

feat(41-04): migrate dashboard and hub components to next/navigation
  src/components/dashboard/CategoryPreviewCard.tsx
  src/components/dashboard/CompactStatRow.tsx
  src/components/dashboard/DashboardEmptyState.tsx
  src/components/dashboard/NBAHeroCard.tsx
  src/components/dashboard/RecentActivityCard.tsx
  src/components/hub/AchievementsTab.tsx
  src/components/hub/HistoryTab.tsx
  src/components/hub/OverviewTab.tsx
  src/components/hub/WelcomeState.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(41-04): migrate SRS, interview, practice, test, session, social, onboarding to next/navigation
  src/components/interview/InterviewResults.tsx
  src/components/onboarding/OnboardingTour.tsx
  src/components/practice/PracticeResults.tsx
  src/components/results/TestResultsScreen.tsx
  src/components/sessions/UnfinishedBanner.tsx
  src/components/social/BadgeHighlights.tsx
  src/components/srs/DeckManager.tsx
  src/components/srs/ReviewDeckCard.tsx
  src/components/srs/ReviewSession.tsx
  src/components/srs/SRSWidget.tsx
  src/components/test/PreTestScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(41-03): migrate navigation components and hooks to next/navigation
  src/components/navigation/BottomTabBar.tsx
  src/components/navigation/GlassHeader.tsx
  src/components/navigation/NavItem.tsx
  src/components/navigation/NavigationShell.tsx
  src/components/navigation/Sidebar.tsx
  src/hooks/useFocusOnNavigation.ts
  src/hooks/useInterviewGuard.ts
  src/hooks/useNavigationGuard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(41-04): complete component migration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-route-migration/41-04-SUMMARY.md
Due: none

feat(41-03): migrate all page files from react-router-dom to next/navigation
  app/(protected)/hub/[[...tab]]/HubPageClient.tsx
  src/pages/AuthPage.tsx
  src/pages/Dashboard.tsx
  src/pages/HubPage.tsx
  src/pages/LandingPage.tsx
  src/pages/OpEdPage.tsx
  src/pages/PasswordResetPage.tsx
  src/pages/PasswordUpdatePage.tsx
  src/pages/SettingsPage.tsx
  src/pages/StudyGuidePage.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(41-03): complete navigation and page migration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-route-migration/41-03-SUMMARY.md
Due: none

feat(41-05): wire root layout, protected layout, and hash redirect
  app/(protected)/layout.tsx
  app/layout.tsx
  proxy.ts
  src/components/ClientProviders.tsx
  src/components/navigation/navConfig.ts
  src/components/onboarding/GreetingFlow.tsx
  src/components/pwa/PWAOnboardingFlow.tsx
  src/lib/themeScript.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(41-05): delete Pages Router, remove react-router-dom, rename src/pages to src/views
  app/(protected)/home/page.tsx
  app/(protected)/hub/[[...tab]]/HubPageClient.tsx
  app/(protected)/interview/page.tsx
  app/(protected)/practice/page.tsx
  app/(protected)/settings/page.tsx
  app/(protected)/study/page.tsx
  app/(protected)/test/page.tsx
  app/(public)/about/page.tsx
  app/(public)/auth/forgot/page.tsx
  app/(public)/auth/page.tsx
  app/(public)/auth/update-password/page.tsx
  app/(public)/op-ed/page.tsx
  app/(public)/page.tsx
  app/layout.tsx
  next-env.d.ts
  package.json
  pages/[[...slug]].tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/_error.tsx
  pnpm-lock.yaml
  src/AppShell.tsx
  src/components/GlobalOverlays.tsx
  src/components/ProtectedRoute.tsx
  src/components/animations/PageTransition.tsx
  src/views/AboutPage.tsx
  src/views/AuthPage.tsx
  src/views/Dashboard.tsx
  src/views/HubPage.tsx
  src/views/InterviewPage.tsx
  src/views/LandingPage.tsx
  src/views/OpEdPage.tsx
  src/views/PasswordResetPage.tsx
  src/views/PasswordUpdatePage.tsx
  src/views/PracticePage.tsx
  src/views/SettingsPage.tsx
  src/views/StudyGuidePage.tsx
  src/views/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(41-05): complete final cleanup plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-route-migration/41-05-SUMMARY.md
Due: none

docs(phase-41): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/phases/41-route-migration/41-VERIFICATION.md
Due: none

chore(41-05): remove stale src/pages files and CLAUDE.md
  .claude/session-logs/2026-02-24.md
  .planning/phases/41-route-migration/41-04-SUMMARY.md
  CLAUDE.md
  src/pages/AboutPage.tsx
  src/pages/AuthPage.tsx
  src/pages/Dashboard.tsx
  src/pages/HubPage.tsx
  src/pages/InterviewPage.tsx
  src/pages/LandingPage.tsx
  src/pages/OpEdPage.tsx
  src/pages/PasswordResetPage.tsx
  src/pages/PasswordUpdatePage.tsx
  src/pages/PracticePage.tsx
  src/pages/SettingsPage.tsx
  src/pages/StudyGuidePage.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
