Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

feat(24-06): add per-question timer toggle to PreTestScreen + dependency components
  src/components/quiz/PerQuestionTimer.tsx
  src/components/quiz/TimerExtensionToast.tsx
  src/components/test/PreTestScreen.tsx
  src/lib/i18n/strings.ts
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-05): complete per-question timer components plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-05-SUMMARY.md
Due: none

feat(24-06): integrate per-question timer into mock test and practice session
  src/components/practice/PracticeSession.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-06): complete per-question timer integration plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-06-SUMMARY.md
Due: none

docs(24-10): complete final verification plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-10-SUMMARY.md
Due: none

docs(phase-24): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-VERIFICATION.md
Due: none

fix: CI failures on dependabot PRs
  .prettierignore
  src/lib/pwa/pushNotifications.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: 3D flip cards, swipe auto-play TTS, timer warning, mock test modes
  src/__tests__/tts.integration.test.tsx
  src/components/quiz/PerQuestionTimer.tsx
  src/components/sort/SortModeContainer.tsx
  src/components/study/FlashcardStack.tsx
  src/components/test/PreTestScreen.tsx
  src/contexts/TTSContext.tsx
  src/hooks/usePerQuestionTimer.ts
  src/pages/TestPage.tsx
  src/styles/globals.css
  src/types/index.ts
  tailwind.config.js
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(study): restore 3D flip cards broken by overflow-hidden on preserve-3d container
  src/components/study/Flashcard3D.tsx
  src/pages/StudyGuidePage.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(flashcard): remove glass-light/prismatic-border from 3D card faces for mobile
  src/components/study/Flashcard3D.tsx
  src/styles/prismatic-border.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(flashcard): add explicit transform to front face for mobile backface-visibility
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25): capture phase context
  .planning/phases/25-burmese-translation-audit/25-CONTEXT.md
Due: none

docs(25): research phase domain
  .planning/phases/25-burmese-translation-audit/25-RESEARCH.md
Due: none

docs(25): create phase plan
  .planning/ROADMAP.md
  .planning/phases/25-burmese-translation-audit/25-01-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-02-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-03-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-04-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-05-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-06-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-07-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-08-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-09-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-10-PLAN.md
Due: none

docs(25): update plan scope for 25-05, 25-07, 25-08
  .planning/phases/25-burmese-translation-audit/25-05-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-07-PLAN.md
  .planning/phases/25-burmese-translation-audit/25-08-PLAN.md
Due: none

docs(25-01): create Burmese terminology glossary
  .planning/burmese-glossary.md
Due: none

feat(25-01): add Noto Sans Myanmar font import and Myanmar line-breaking CSS
  src/styles/globals.css
Due: pnpm exec prettier --write

docs(25-01): complete glossary and typography plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-01-SUMMARY.md
Due: none

feat(25-04): improve centralized strings, nav labels, and category names
  src/components/navigation/navConfig.ts
  src/lib/i18n/strings.ts
  src/lib/mastery/categoryMapping.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-04): improve badge, nudge, and NBA strings with cross-check file
  .planning/phases/25-burmese-translation-audit/cross-check-wave-2.md
  src/lib/mastery/nudgeMessages.ts
  src/lib/nba/nbaStrings.ts
  src/lib/social/badgeDefinitions.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-03): improve Burmese translations in 5 core question files
  src/constants/questions/american-history-1800s.ts
  src/constants/questions/american-history-colonial.ts
  src/constants/questions/american-history-recent.ts
  src/constants/questions/rights-responsibilities.ts
  src/constants/questions/symbols-holidays.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-04): complete centralized strings plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-04-SUMMARY.md
Due: none

feat(25-03): quality-check USCIS 2025 additions and generate cross-check file
  .planning/phases/25-burmese-translation-audit/cross-check-wave-1b.md
  src/constants/questions/uscis-2025-additions.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-03): complete remaining questions translation plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-03-SUMMARY.md
Due: none

feat(25-02): improve Burmese translations for 47 American Government questions
  src/constants/questions/american-government.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-02): create cross-check file for American Government translations
  .planning/phases/25-burmese-translation-audit/cross-check-wave-1a.md
Due: none

docs(25-02): complete American Government translations plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-02-SUMMARY.md
Due: none

feat(25-08): update quiz and results component inline Burmese strings
  src/components/quiz/ExitConfirmDialog.tsx
  src/components/quiz/FeedbackPanel.tsx
  src/components/quiz/SkippedReviewPhase.tsx
  src/components/results/CategoryBreakdown.tsx
  src/components/results/QuestionReviewList.tsx
  src/components/results/TestResultsScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-07): improve Burmese translations in social components
  src/components/sessions/ResumePromptModal.tsx
  src/components/sessions/ResumeSessionCard.tsx
  src/components/sessions/SessionCountdown.tsx
  src/components/sessions/StartFreshConfirm.tsx
  src/components/sessions/UnfinishedBanner.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/social/BadgeGrid.tsx
  src/components/social/BadgeHighlights.tsx
  src/components/social/LeaderboardProfile.tsx
  src/components/social/LeaderboardTable.tsx
  src/components/social/ShareCardPreview.tsx
  src/components/social/SocialOptInFlow.tsx
  src/components/social/SocialSettings.tsx
  src/components/social/StreakHeatmap.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-05): update landing, auth, and onboarding Burmese translations
  src/components/onboarding/OnboardingTour.tsx
  src/components/onboarding/WelcomeScreen.tsx
  src/pages/AuthPage.tsx
  src/pages/LandingPage.tsx
  src/pages/PasswordResetPage.tsx
  src/pages/PasswordUpdatePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-08): update interview and progress component inline Burmese strings
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewSetup.tsx
  src/components/interview/InterviewTranscript.tsx
  src/components/progress/MasteryMilestone.tsx
  src/components/progress/SkillTreePath.tsx
  src/components/pwa/IOSTip.tsx
  src/components/pwa/InstallPrompt.tsx
  src/components/pwa/NotificationPrePrompt.tsx
  src/components/pwa/NotificationSettings.tsx
  src/components/pwa/WelcomeModal.tsx
  src/components/update/WhatsNewModal.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(25-08): convert remaining Unicode escape in QuestionReviewList toast
  src/components/results/QuestionReviewList.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(25-07): improve Burmese translations in SRS, sort, and settings components
  src/components/sort/KnowDontKnowButtons.tsx
  src/components/sort/SortCountdown.tsx
  src/components/sort/SortModeContainer.tsx
  src/components/sort/SortProgress.tsx
  src/components/sort/SwipeableCard.tsx
  src/components/sort/SwipeableStack.tsx
  src/components/srs/DeckManager.tsx
  src/components/srs/RatingButtons.tsx
  src/components/srs/ReviewCard.tsx
  src/components/srs/ReviewHeatmap.tsx
  src/components/srs/ReviewSession.tsx
  src/components/srs/SRSWidget.tsx
  src/components/srs/SessionSetup.tsx
  src/components/srs/SessionSummary.tsx
  src/pages/SettingsPage.tsx
  src/pages/StudyGuidePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-08): complete quiz, interview & progress inline Burmese plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-08-SUMMARY.md
Due: none

docs(25-06): complete test/session/PWA Burmese translation plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-06-SUMMARY.md
Due: none

docs(25-07): complete social, SRS & sort Burmese translation plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-07-SUMMARY.md
Due: none

feat(25-05): improve Burmese translations in settings and study guide pages
  src/pages/SettingsPage.tsx
  src/pages/StudyGuidePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-05): complete core pages inline Burmese plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-05-SUMMARY.md
Due: none

fix(25-09): add font-myanmar class to Myanmar text in OpEdPage
  src/pages/OpEdPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(25-09): complete rendering layer audit plan
  .planning/STATE.md
  .planning/phases/25-burmese-translation-audit/25-09-SUMMARY.md
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
