Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

docs(53): research phase domain for component decomposition
  .planning/phases/53/53-RESEARCH.md
Due: none

docs(phase-53): add validation strategy
  .planning/phases/53/53-VALIDATION.md
Due: none

docs(53): create phase plan for component decomposition
  .planning/ROADMAP.md
  .planning/phases/53/53-01-PLAN.md
  .planning/phases/53/53-02-PLAN.md
  .planning/phases/53/53-03-PLAN.md
  .planning/phases/53/53-CONTEXT.md
  .planning/phases/53/53-ENHANCEMENT-RECOMMENDATIONS.md
  .planning/phases/53/53-PRECONTEXT-RESEARCH.md
Due: none

feat(53-01): create interview state machine with TDD
  src/__tests__/lib/interviewStateMachine.test.ts
  src/lib/interview/interviewStateMachine.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(53-01): add per-file coverage threshold for interviewStateMachine.ts
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(53-01): complete interview state machine plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53/53-01-SUMMARY.md
Due: none

feat(53-02): create useInterviewStateMachine hook
  src/hooks/useInterviewStateMachine.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(53-02): create 4 interview sub-components
  src/components/interview/InterviewChatArea.tsx
  src/components/interview/InterviewHeader.tsx
  src/components/interview/InterviewRecordingArea.tsx
  src/components/interview/QuitConfirmationDialog.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(53-02): complete interview hook + sub-components plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53/53-02-SUMMARY.md
Due: none

feat(53-03): decompose InterviewSession into orchestrator + extracted hooks
  next-env.d.ts
  src/__tests__/lib/interviewStateMachine.test.ts
  src/components/interview/InterviewChatArea.tsx
  src/components/interview/InterviewHeader.tsx
  src/components/interview/InterviewRecordingArea.tsx
  src/components/interview/InterviewSession.tsx
  src/hooks/useInterviewHandlers.ts
  src/hooks/useInterviewPhaseEffects.ts
  src/hooks/useInterviewStateMachine.ts
  src/lib/interview/interviewStateMachine.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(53-03): complete InterviewSession decomposition plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53/53-03-SUMMARY.md
Due: none

fix: add canvas-confetti as direct dependency (pnpm strict hoisting)
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

test(53): persist human verification items as UAT
  .planning/phases/53/53-HUMAN-UAT.md
  .planning/phases/53/53-VERIFICATION.md
Due: none

docs(phase-53): complete phase execution — all 6 v4.1 phases shipped
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(v4.1): milestone audit — 34/36 requirements satisfied, 2 route-group error files need update
  .planning/v4.1-MILESTONE-AUDIT.md
Due: none

docs(roadmap): add gap closure phase 54 for route-group error files
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: none

docs(54): research phase domain — route-group error files + constant deduplication
  .planning/phases/54-route-group-error-fix/54-RESEARCH.md
Due: none

docs(phase-54): add validation strategy
  .planning/phases/54-route-group-error-fix/54-VALIDATION.md
Due: none

docs(54): create phase plan — route-group error fix + constant dedup
  .planning/ROADMAP.md
  .planning/phases/54-route-group-error-fix/54-01-PLAN.md
Due: none

fix(54): sanitize route-group error files + deduplicate QUESTIONS_PER_SESSION
  app/(protected)/error.tsx
  app/(public)/error.tsx
  src/views/InterviewPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(phase-54): complete plan execution — ERRS-01, ERRS-02 satisfied
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/54-route-group-error-fix/54-01-SUMMARY.md
Due: none

docs(phase-54): complete phase execution — 36/36 v4.1 requirements satisfied
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/54-route-group-error-fix/54-VERIFICATION.md
Due: none

style: fix prettier formatting on next-env.d.ts
  next-env.d.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: suppress intentional console.debug lint warning in dev dispatch logger
  src/hooks/useInterviewStateMachine.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(v4.1): re-audit passed — 36/36 requirements satisfied, all gaps closed
  .planning/v4.1-MILESTONE-AUDIT-2.md
Due: none

refactor(auth): simplify auth page — replace tab bar with inline toggle links, remove email confirmation messaging
  src/views/AuthPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(deps): clear high-severity audit advisories blocking CI
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

test(e2e): make mocked auth session valid so authed specs authenticate
  e2e/fixtures/auth.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(e2e): suppress first-run onboarding overlays so authed flows are testable
  e2e/fixtures/auth.ts
  src/components/GlobalOverlays.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

ci: make pre-existing e2e and coverage gates non-blocking
  .github/workflows/ci.yml
Due: none

chore: unblock CI — clear high-severity audit advisories + fix e2e mocked auth (#36)
  .github/workflows/ci.yml
  e2e/fixtures/auth.ts
  package.json
  pnpm-lock.yaml
  src/components/GlobalOverlays.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Enable full guest (no-account) study access
  app/(protected)/layout.tsx
  src/__tests__/contexts/SupabaseAuth.test.tsx
  src/__tests__/lib/guestTestHistory.test.ts
  src/components/navigation/NavigationShell.tsx
  src/components/navigation/Sidebar.tsx
  src/contexts/SupabaseAuthContext.tsx
  src/hooks/useNextBestAction.ts
  src/hooks/useStudyPlan.ts
  src/lib/testHistory/guestTestHistory.ts
  src/views/Dashboard.tsx
  src/views/HubPage.tsx
  src/views/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(auth): refresh guest history on sign-out; harden guest store parsing
  src/__tests__/lib/guestTestHistory.test.ts
  src/contexts/SupabaseAuthContext.tsx
  src/lib/testHistory/guestTestHistory.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(guest): address review — no over-promise, no session clobber, surface save failures
  src/__tests__/lib/guestTestHistory.test.ts
  src/contexts/SupabaseAuthContext.tsx
  src/lib/testHistory/guestTestHistory.ts
  src/views/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(guest): address review round 2 — lock, hydration timeout, guest gating, copy
  src/components/navigation/Sidebar.tsx
  src/contexts/SupabaseAuthContext.tsx
  src/views/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(auth,settings): deep-review follow-ups — recover history after hung hydrate; finish guest reminder gate
  src/contexts/SupabaseAuthContext.tsx
  src/views/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(auth,dashboard): review round 3 — protect leaderboard from timeout placeholder & guest state
  src/contexts/SupabaseAuthContext.tsx
  src/views/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(auth): replace hydration-timeout placeholder with guest fallback
  src/components/hub/AchievementsTab.tsx
  src/contexts/SupabaseAuthContext.tsx
  src/hooks/useLeaderboard.ts
  src/views/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(auth): recover slow hydrations & keep signed-in saves on the account
  src/__tests__/contexts/SupabaseAuth.test.tsx
  src/components/hub/AchievementsTab.tsx
  src/contexts/SupabaseAuthContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write
