Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-03): complete mobile edge case hooks plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-03-SUMMARY.md
Due: none

docs(28-01): complete audio pre-cache plan
  .planning/REQUIREMENTS.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-01-SUMMARY.md
Due: none

feat(28-05): create ModeBadge and InterviewProgress components
  src/components/interview/InterviewProgress.tsx
  src/components/interview/ModeBadge.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-04): enhance InterviewCountdown with audio pre-caching loading phase
  src/components/interview/InterviewCountdown.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-05): enhance InterviewTimer with ring, color transitions, and pulse
  src/components/interview/InterviewTimer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-04): create TTSFallbackBadge component
  src/components/interview/TTSFallbackBadge.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-04): create LandscapeOverlay component
  src/components/interview/LandscapeOverlay.tsx
  src/components/interview/LongPressButton.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-04): complete interview countdown & support UI plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-04-SUMMARY.md
Due: none

docs(28-05): complete mode-differentiated interview UI plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-05-SUMMARY.md
Due: none

feat(28-08): create interview feedback phrases module
  src/lib/interview/interviewFeedback.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-07): enhance InterviewSetup with best score, network warning, mic fallback
  src/components/interview/InterviewSetup.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-07): add keyword highlights in transcript and Real mode score reveal
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewTranscript.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-08): generate feedback audio and update precache
  public/audio/en-US/ava/interview/feedback-correct-01.mp3
  public/audio/en-US/ava/interview/feedback-correct-02.mp3
  public/audio/en-US/ava/interview/feedback-correct-03.mp3
  public/audio/en-US/ava/interview/feedback-incorrect-01.mp3
  public/audio/en-US/ava/interview/feedback-incorrect-02.mp3
  public/audio/en-US/ava/interview/feedback-incorrect-03.mp3
  scripts/generate-interview-audio.py
  src/lib/audio/audioPrecache.test.ts
  src/lib/audio/audioPrecache.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-07): wire pre-cache flow and exit confirmation in InterviewPage
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-08-SUMMARY.md
  src/pages/InterviewPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-07): complete interview setup, results, and page orchestrator plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-07-SUMMARY.md
Due: none

fix(28-06): fix networkCheck.ts TypeScript cast error blocking build
  src/lib/audio/networkCheck.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-06): integrate all Phase 28 components into InterviewSession
  src/components/interview/InterviewSession.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-06): complete InterviewSession integration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-06-SUMMARY.md
Due: none

feat(28-09): add bilingual strings and screen reader polish for interview
  src/components/interview/InterviewCountdown.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewSetup.tsx
  src/components/interview/InterviewTimer.tsx
  src/components/interview/KeywordHighlight.test.tsx
  src/components/interview/KeywordHighlight.tsx
  src/components/interview/LongPressButton.tsx
  src/components/interview/ModeBadge.tsx
  src/components/interview/TextAnswerInput.tsx
  src/lib/i18n/strings.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(28-09): wire feedback audio and verify build
  src/components/interview/InterviewSession.tsx
  src/components/interview/KeywordHighlight.test.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(28-09): complete final integration polish plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-09-SUMMARY.md
Due: none

fix(phase-28): code review autofix
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewTimer.tsx
  src/lib/audio/audioPrecache.test.ts
  src/pages/InterviewPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(phase-28): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/28-interview-ux-voice-flow-polish/28-VERIFICATION.md
Due: none

docs(phase-28): add session logs, config, and audit updates
  .claude/session-logs/2026-02-18.md
  .claude/session-logs/2026-02-19.md
  .planning/config.json
  .planning/phases/28-interview-ux-voice-flow-polish/.gitkeep
  .planning/v2.1-MILESTONE-AUDIT.md
Due: pnpm exec prettier --write

fix(interview): unlock audio for mobile autoplay policy
  .claude/learnings/INDEX.md
  .claude/learnings/tts-voice-selection.md
  .claude/session-logs/2026-02-19.md
  src/lib/audio/audioPlayer.ts
  src/pages/InterviewPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: start milestone v3.0 World-Class UX
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: complete v3.0 UX polish research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define milestone v3.0 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v3.0 roadmap (6 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(29): capture phase context
  .planning/phases/29-visual-foundation/29-CONTEXT.md
Due: none

docs(state): record phase 29 context session
  .planning/STATE.md
Due: none

docs(29): research phase domain
  .planning/phases/29-visual-foundation/29-RESEARCH.md
Due: none

docs(29): create phase plan (7 plans in 2 waves)
  .planning/ROADMAP.md
  .planning/phases/29-visual-foundation/29-01-PLAN.md
  .planning/phases/29-visual-foundation/29-02-PLAN.md
  .planning/phases/29-visual-foundation/29-03-PLAN.md
  .planning/phases/29-visual-foundation/29-04-PLAN.md
  .planning/phases/29-visual-foundation/29-05-PLAN.md
  .planning/phases/29-visual-foundation/29-06-PLAN.md
  .planning/phases/29-visual-foundation/29-07-PLAN.md
Due: none

fix(29): correct wave assignments for file ownership safety
  .planning/phases/29-visual-foundation/29-02-PLAN.md
  .planning/phases/29-visual-foundation/29-05-PLAN.md
  .planning/phases/29-visual-foundation/29-07-PLAN.md
Due: none

feat(29-01): define semantic typography scale in Tailwind config
  src/styles/tokens.css
  tailwind.config.js
Due: pnpm exec prettier --write

fix(29-03): fix touch target violations on compact buttons and dialog close
  src/components/social/ShareButton.tsx
  src/components/srs/AddToDeckButton.tsx
  src/components/ui/Dialog.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(29-04): migrate glass-panel to three-tier glass system
  src/components/practice/PracticeSession.tsx
  src/components/quiz/SkippedReviewPhase.tsx
  src/components/results/TestResultsScreen.tsx
  src/pages/OpEdPage.tsx
  src/pages/TestPage.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(29): add summaries for wave 1 plans (01, 03, 04)
  .planning/phases/29-visual-foundation/29-01-SUMMARY.md
  .planning/phases/29-visual-foundation/29-03-SUMMARY.md
  .planning/phases/29-visual-foundation/29-04-SUMMARY.md
Due: none

feat(29-02): document spacing grid and fix radius inconsistency
  src/components/results/QuestionReviewList.tsx
  src/styles/tokens.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
