Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

feat(32-05): create CelebrationOverlay with queue, confetti, sound, and haptics
  src/AppShell.tsx
  src/components/celebrations/CelebrationOverlay.tsx
  src/components/celebrations/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-05): complete celebration orchestration layer plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-05-SUMMARY.md
Due: none

feat(32-06): rewrite TestResultsScreen with multi-stage choreographed celebration
  src/components/celebrations/CountUpScore.tsx
  src/components/results/TestResultsScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-06): complete test results choreography plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-06-SUMMARY.md
Due: none

docs(32): create gap closure plans 32-07 and 32-08
  .planning/ROADMAP.md
  .planning/phases/32-celebration-system-elevation/32-07-PLAN.md
  .planning/phases/32-celebration-system-elevation/32-08-PLAN.md
Due: none

chore(32-08): add @lottiefiles/dotlottie-react to package.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

feat(32-07): wire XPCounter into quiz session headers
  src/components/practice/PracticeSession.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(32-08): complete dotlottie dependency declaration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-08-SUMMARY.md
Due: none

docs(32-07): complete XP counter wiring gap closure plan
  .planning/STATE.md
  .planning/phases/32-celebration-system-elevation/32-07-SUMMARY.md
Due: none

docs(phase-32): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/32-celebration-system-elevation/32-VERIFICATION.md
Due: none

feat(33-02): add prefers-reduced-motion rules for all uncovered CSS keyframes
  src/styles/animations.css
  src/styles/globals.css
Due: pnpm exec prettier --write

feat(33-01): add enhanced Skeleton, EmptyState component, and a11y announcer
  src/components/ui/EmptyState.tsx
  src/components/ui/Skeleton.tsx
  src/lib/a11y/announcer.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(33-02): preserve stagger timing under reduced motion in StaggeredList
  src/components/animations/StaggeredList.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(33-01): add ErrorFallback component and useRetry hook
  src/components/ui/ErrorFallback.tsx
  src/hooks/useRetry.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(33-02): complete reduced-motion animation audit plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/33-states-accessibility/33-02-SUMMARY.md
Due: none

docs(33-01): complete state pattern library plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/33-states-accessibility/33-01-SUMMARY.md
Due: none

feat(33-03): create Dashboard skeleton and empty state, wire into Dashboard
  src/components/dashboard/DashboardEmptyState.tsx
  src/components/dashboard/DashboardSkeleton.tsx
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(33-04): create OfflineBanner with reconnection animation
  src/components/navigation/NavigationShell.tsx
  src/components/pwa/OfflineBanner.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(33-04): wire ErrorFallback into Dashboard and Hub tabs
  src/components/hub/AchievementsTab.tsx
  src/components/hub/HistoryTab.tsx
  src/components/hub/HubSkeleton.tsx
  src/components/srs/DeckManager.tsx
  src/pages/Dashboard.tsx
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(33-03): enhance Hub skeletons with a11y, wire empty states into Hub tabs and SRS Deck
  src/components/srs/DeckManager.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(33-04): complete error recovery integration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/33-states-accessibility/33-04-SUMMARY.md
Due: none

docs(33-03): complete skeleton and empty state wiring plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/33-states-accessibility/33-03-SUMMARY.md
Due: none

feat(33-05): add useFocusOnNavigation hook for route change focus management
  src/components/navigation/NavigationShell.tsx
  src/hooks/useFocusOnNavigation.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(33-05): add screen reader announcements to celebrations and migrate modals to Radix Dialog
  src/components/celebrations/Confetti.tsx
  src/components/progress/MasteryMilestone.tsx
  src/components/pwa/WelcomeModal.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/update/WhatsNewModal.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(33-05): complete focus management, celebration announcements, and modal audit plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/33-states-accessibility/33-05-SUMMARY.md
Due: none

docs(phase-33): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/33-states-accessibility/33-VERIFICATION.md
Due: none

docs(v3.0): complete milestone audit — 39/39 requirements satisfied
  .planning/v3.0-MILESTONE-AUDIT.md
Due: none

docs(roadmap): add gap closure phases 35-36
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: none

docs(35): research phase domain
  .planning/phases/35-touch-target-tech-debt/35-RESEARCH.md
Due: none

docs(35): create phase plan for touch targets and tech debt
  .planning/ROADMAP.md
  .planning/phases/35-touch-target-tech-debt/35-01-PLAN.md
  .planning/phases/35-touch-target-tech-debt/35-02-PLAN.md
Due: none

fix(35-01): enforce 44px minimum touch targets on GlassHeader and AboutPage
  src/components/navigation/GlassHeader.tsx
  src/pages/AboutPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(35-01): remove orphaned playXPDing and playErrorSoft exports
  src/lib/audio/celebrationSounds.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(35-01): complete touch target and dead code cleanup plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/35-touch-target-tech-debt/35-01-SUMMARY.md
Due: none

refactor(35-02): remove 9 orphaned exports from v3.0 codebase
  src/components/celebrations/Confetti.tsx
  src/components/celebrations/CountUpScore.tsx
  src/components/celebrations/index.ts
  src/components/ui/Skeleton.tsx
  src/hooks/useRetry.ts
  src/lib/audio/soundEffects.ts
  src/lib/motion-config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(35-02): sync ROADMAP.md checkboxes for completed phases 29-34
  .planning/ROADMAP.md
Due: none

docs(35-02): complete dead code cleanup and ROADMAP sync plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/35-touch-target-tech-debt/35-02-SUMMARY.md
Due: none

docs(phase-35): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/35-touch-target-tech-debt/35-VERIFICATION.md
Due: none

docs(36): research mock test celebration unification
  .planning/phases/36-mock-test-celebration-unification/36-RESEARCH.md
Due: none

docs(36): create phase plan
  .planning/ROADMAP.md
  .planning/phases/36-mock-test-celebration-unification/36-01-PLAN.md
Due: none

feat(36-01): replace inline resultView with shared TestResultsScreen component
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write
