Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,mjs,json,css}": ["prettier --write"]
}

feat(01-05): update Question type to string IDs and create category files structure
  src/constants/questions/american-government.ts
  src/constants/questions/american-history-colonial.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

docs(01-01): complete testing infrastructure plan
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-01-SUMMARY.md
Due: none

feat(01-05): complete all category question files with stable IDs
  src/constants/questions/american-history-1800s.ts
  src/constants/questions/american-history-recent.ts
  src/constants/questions/rights-responsibilities.ts
  src/constants/questions/symbols-holidays.ts
Due: eslint --fix, prettier --write

feat(01-05): create barrel file and update imports for string IDs
  src/constants/civicsQuestions.ts
  src/constants/questions/index.ts
  src/pages/StudyGuidePage.tsx
Due: eslint --fix, prettier --write

docs(01-05): complete question file split plan
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-05-SUMMARY.md
Due: none

feat(01-02): implement Fisher-Yates shuffle with statistical regression test
  eslint.config.mjs
  src/__tests__/shuffle.test.ts
  src/lib/shuffle.ts
  src/pages/TestPage.tsx
  src/types/index.ts
  src/types/supabase.ts
Due: eslint --fix, prettier --write

feat(01-02): implement mutex-protected save session guard with TDD
  src/__tests__/saveSession.test.ts
  src/lib/saveSession.ts
Due: eslint --fix, prettier --write

fix(01-02): use replaceState to prevent history stack overflow
  src/__tests__/navigationLock.test.ts
  src/contexts/SupabaseAuthContext.tsx
  src/pages/TestPage.tsx
  src/types/supabase.ts
Due: eslint --fix, prettier --write

docs(01-02): complete critical bug fixes plan
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-02-SUMMARY.md
Due: none

chore(01-03): add global type declarations to ESLint config
  eslint.config.mjs
Due: prettier --write

docs(01-03): complete type safety plan
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-03-SUMMARY.md
Due: none

feat(01-04): implement error sanitizer with bilingual messages
  src/__tests__/errorSanitizer.test.ts
  src/lib/errorSanitizer.ts
Due: eslint --fix, prettier --write

feat(01-04): add bilingual toast notification system
  src/components/BilingualToast.tsx
Due: eslint --fix, prettier --write

docs(02): capture phase context
  .planning/phases/02-pwa-offline/02-CONTEXT.md
Due: none

feat(01-04): add React error boundary with bilingual fallback
  src/AppShell.tsx
  src/__tests__/errorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

docs: add codebase analysis documents
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
Due: none

chore: add tsbuildinfo to gitignore
  .gitignore
Due: none

feat(01-04): add Sentry PII stripping and privacy-safe error reporting
  instrumentation-client.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/lib/sentry.ts
Due: eslint --fix, prettier --write

docs(01-04): complete error handling and user safety plan
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-04-SUMMARY.md
Due: none

fix(01-02): wire SaveSessionGuard into production save operation
  src/contexts/SupabaseAuthContext.tsx
Due: eslint --fix, prettier --write

docs(01): complete foundation & code quality phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation-code-quality/01-VERIFICATION.md
Due: none

chore: migrate from npm to pnpm and enforce lint/typecheck/build on pre-commit
  .husky/pre-commit
  .lintstagedrc.json
  next-env.d.ts
  package-lock.json
  package.json
  pages/api/sentry-example-api.ts
  pnpm-lock.yaml
  src/components/AppNavigation.tsx
  src/contexts/ThemeContext.tsx
  src/lib/useSpeechSynthesis.ts
  src/pages/Dashboard.tsx
  src/pages/StudyGuidePage.tsx
Due: eslint --fix, prettier --write

ci: migrate CI workflow from npm to pnpm and add build step
  .github/workflows/ci.yml
Due: none

style: fix prettier formatting across project files
  metadata.json
  next.config.mjs
  pages/[[...slug]].tsx
  pages/_error.tsx
  pages/op-ed.tsx
  pages/sentry-example-page.tsx
  pnpm-lock.yaml
  src/components/GoogleOneTapSignIn.tsx
  src/components/ThemeToggle.tsx
  src/lib/nativeBridge.ts
  src/lib/supabaseClient.ts
  src/pages/AuthPage.tsx
  src/pages/HistoryPage.tsx
  src/pages/LandingPage.tsx
  src/pages/OpEdPage.tsx
  src/pages/PasswordResetPage.tsx
  src/pages/PasswordUpdatePage.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

docs(02): create phase plan for PWA & Offline
  .planning/ROADMAP.md
  .planning/phases/02-pwa-offline/02-01-PLAN.md
  .planning/phases/02-pwa-offline/02-02-PLAN.md
  .planning/phases/02-pwa-offline/02-03-PLAN.md
  .planning/phases/02-pwa-offline/02-04-PLAN.md
  .planning/phases/02-pwa-offline/02-05-PLAN.md
  .planning/phases/02-pwa-offline/02-06-PLAN.md
Due: none

docs(02): add PWA & Offline phase research
  .planning/phases/02-pwa-offline/02-RESEARCH.md
Due: none

fix(ci): use per-file coverage thresholds instead of global 70%
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(02-01): install Serwist and configure Next.js for PWA
  .gitignore
  eslint.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/pwa/sw.ts
  tsconfig.sw.json
Due: eslint --fix, prettier --write

feat(02-01): create web app manifest and app icons
  pages/_document.tsx
  public/icons/icon-192.png
  public/icons/icon-512.png
  public/icons/icon-maskable-192.png
  public/icons/icon-maskable-512.png
  public/manifest.json
Due: eslint --fix, prettier --write

feat(02-01): create service worker and offline fallback page
  public/offline.html
  src/lib/pwa/sw.ts
Due: eslint --fix, prettier --write

docs(02-01): complete PWA Foundation plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-01-SUMMARY.md
Due: none

feat(02-03): extend offlineDb and create syncQueue module
  src/hooks/useOnlineStatus.ts
  src/lib/pwa/offlineDb.ts
  src/lib/pwa/syncQueue.ts
Due: eslint --fix, prettier --write

feat(02-03): create sync hook and status indicator component
  src/components/pwa/SyncStatusIndicator.tsx
  src/hooks/useSyncQueue.ts
Due: eslint --fix, prettier --write

feat(02-02): create OfflineContext and OnlineStatusIndicator
  src/components/pwa/OnlineStatusIndicator.tsx
  src/contexts/OfflineContext.tsx
Due: eslint --fix, prettier --write

feat(02-03): integrate SyncStatusIndicator into AppNavigation
  src/components/AppNavigation.tsx
Due: eslint --fix, prettier --write

docs(02-03): complete Offline Sync Queue plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-03-SUMMARY.md
Due: none

feat(02-02): integrate OfflineProvider into AppShell
  src/AppShell.tsx
Due: eslint --fix, prettier --write

docs(02-02): complete IndexedDB Question Caching plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-02-SUMMARY.md
Due: none

feat(02-04): create install prompt hook and component
  src/components/pwa/InstallPrompt.tsx
  src/hooks/useInstallPrompt.ts
Due: eslint --fix, prettier --write

feat(02-04): create welcome modal and notification pre-prompt
  src/components/pwa/NotificationPrePrompt.tsx
  src/components/pwa/WelcomeModal.tsx
Due: eslint --fix, prettier --write
