Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

feat(15-04): create AchievementsTab with badge gallery and leaderboard
  src/components/hub/AchievementsTab.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(15-02): create ReadinessRing, StatCard, CategoryDonut, SubcategoryBar, WelcomeState, HubSkeleton components
  src/components/hub/CategoryDonut.tsx
  src/components/hub/GlassCard.tsx
  src/components/hub/HistoryTab.tsx
  src/components/hub/HubSkeleton.tsx
  src/components/hub/ReadinessRing.tsx
  src/components/hub/StatCard.tsx
  src/components/hub/SubcategoryBar.tsx
  src/components/hub/WelcomeState.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(15-02): assemble OverviewTab and wire into HubPage with data hooks
  src/components/hub/OverviewTab.tsx
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(15-02): complete Overview Tab plan
  .planning/STATE.md
  .planning/phases/15-progress-hub/15-02-SUMMARY.md
Due: none

feat(15-03): wire HistoryTab into HubPage
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(15-04): wire AchievementsTab into HubPage with badge celebration
  src/components/hub/AchievementsTab.tsx
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(15-03): complete History Tab plan
  .planning/STATE.md
  .planning/phases/15-progress-hub/15-03-SUMMARY.md
Due: none

docs(15-04): complete Achievements Tab plan
  .planning/STATE.md
  .planning/phases/15-progress-hub/15-04-SUMMARY.md
Due: none

feat(15-05): add scroll memory, swipe gestures, and hub i18n strings
  src/components/hub/AchievementsTab.tsx
  src/components/hub/HistoryTab.tsx
  src/components/hub/HubTabBar.tsx
  src/components/hub/OverviewTab.tsx
  src/lib/i18n/strings.ts
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(15-05): wire hub badge dot, update push URL, delete old pages
  pages/api/push/send.ts
  src/components/hub/AchievementsTab.tsx
  src/components/hub/HistoryTab.tsx
  src/components/navigation/useNavBadges.ts
  src/pages/HistoryPage.tsx
  src/pages/HubPage.tsx
  src/pages/ProgressPage.tsx
  src/pages/SocialHubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(15-05): complete Interaction Polish & Cleanup plan
  .planning/STATE.md
  .planning/phases/15-progress-hub/15-05-SUMMARY.md
Due: none

chore(15-06): automated verification of Progress Hub implementation
  .planning/phases/15-progress-hub/15-06-verification-report.md
Due: none

fix(15): polish nav bar pills, labels, and hub page title
  .planning/phases/15-progress-hub/15-04-PLAN.md
  src/components/hub/HubTabBar.tsx
  src/components/navigation/BottomTabBar.tsx
  src/components/navigation/NavItem.tsx
  src/components/navigation/navConfig.ts
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(nav): consistent pill animation, reduced-motion support, sidebar polish
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/15-progress-hub/15-06-SUMMARY.md
  src/components/navigation/NavItem.tsx
  src/components/navigation/NavigationShell.tsx
  src/components/navigation/Sidebar.tsx
  src/lib/useScrollSnapCenter.ts
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(16): capture phase context
  .planning/phases/16-dashboard-next-best-action/16-CONTEXT.md
Due: none

docs(16): research phase domain
  .planning/phases/16-dashboard-next-best-action/16-RESEARCH.md
Due: none

docs(16): create phase plan
  .planning/ROADMAP.md
  .planning/phases/16-dashboard-next-best-action/16-01-PLAN.md
  .planning/phases/16-dashboard-next-best-action/16-02-PLAN.md
  .planning/phases/16-dashboard-next-best-action/16-03-PLAN.md
  .planning/phases/16-dashboard-next-best-action/16-04-PLAN.md
  .planning/phases/16-dashboard-next-best-action/16-05-PLAN.md
Due: none

feat(16-02): create CompactStatRow with count-up animations
  src/components/dashboard/CompactStatRow.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(16-01): create NBA type system and bilingual string catalog
  src/lib/nba/index.ts
  src/lib/nba/nbaStrings.ts
  src/lib/nba/nbaTypes.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(16-02): create CategoryPreviewCard and RecentActivityCard
  src/components/dashboard/CategoryPreviewCard.tsx
  src/components/dashboard/RecentActivityCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(16-01): add failing tests for determineNextBestAction
  src/lib/nba/determineNBA.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(16-02): complete dashboard supporting components plan
  .planning/STATE.md
  .planning/phases/16-dashboard-next-best-action/16-02-SUMMARY.md
Due: none

feat(16-01): implement determineNextBestAction with 30 passing tests
  src/lib/nba/determineNBA.test.ts
  src/lib/nba/determineNBA.ts
  src/lib/nba/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(16-01): complete NBA determination engine plan
  .planning/STATE.md
  .planning/phases/16-dashboard-next-best-action/16-01-SUMMARY.md
Due: none

feat(16-03): create useNextBestAction composition hook
  src/hooks/useNextBestAction.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(16-03): create NBAHeroCard component with skeleton
  src/components/dashboard/NBAHeroCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(16-03): complete NBA hook + hero card plan
  .planning/STATE.md
  .planning/phases/16-dashboard-next-best-action/16-03-SUMMARY.md
Due: none

feat(16-04): rewrite Dashboard with NBA-focused layout
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(16-04): complete dashboard NBA layout composition plan
  .planning/STATE.md
  .planning/phases/16-dashboard-next-best-action/16-04-SUMMARY.md
Due: none

test(16-05): automated verification of phase 16 dashboard transformation
  .planning/phases/16-dashboard-next-best-action/16-05-verification-report.md
Due: none

feat(16): polish dashboard badges, subcategories, and hub achievements
  src/components/dashboard/CategoryPreviewCard.tsx
  src/components/hub/AchievementsTab.tsx
  src/components/hub/OverviewTab.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/social/BadgeGrid.tsx
  src/components/social/BadgeHighlights.tsx
  src/lib/social/badgeColors.ts
  src/pages/Dashboard.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(16-05): update verification report with post-polish results
  .planning/phases/16-dashboard-next-best-action/16-05-verification-report.md
Due: none

docs(16-05): complete Phase 16 dashboard verification plan
  .planning/STATE.md
  .planning/phases/16-dashboard-next-best-action/16-05-SUMMARY.md
Due: none

docs(phase-16): complete phase execution — all 5 DASH requirements verified
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/16-dashboard-next-best-action/16-VERIFICATION.md
Due: none

docs(17): capture phase context
  .planning/phases/17-ui-system-polish/17-CONTEXT.md
Due: none

docs(17): research phase domain
  .planning/phases/17-ui-system-polish/17-RESEARCH.md
Due: none

docs(17): create phase plan
  .planning/ROADMAP.md
  .planning/phases/17-ui-system-polish/17-01-PLAN.md
  .planning/phases/17-ui-system-polish/17-02-PLAN.md
  .planning/phases/17-ui-system-polish/17-03-PLAN.md
  .planning/phases/17-ui-system-polish/17-04-PLAN.md
  .planning/phases/17-ui-system-polish/17-05-PLAN.md
  .planning/phases/17-ui-system-polish/17-06-PLAN.md
  .planning/phases/17-ui-system-polish/17-07-PLAN.md
  .planning/phases/17-ui-system-polish/17-08-PLAN.md
  .planning/phases/17-ui-system-polish/17-09-PLAN.md
  .planning/phases/17-ui-system-polish/17-10-PLAN.md
Due: none

fix(17): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/17-ui-system-polish/17-01-PLAN.md
  .planning/phases/17-ui-system-polish/17-03-PLAN.md
  .planning/phases/17-ui-system-polish/17-05-PLAN.md
  .planning/phases/17-ui-system-polish/17-05B-PLAN.md
  .planning/phases/17-ui-system-polish/17-10-PLAN.md
Due: none

feat(17-02): create shared spring animation configuration module
  src/lib/motion-config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-01): create prismatic border CSS system and glass tier tokens
  src/styles/prismatic-border.css
  src/styles/tokens.css
Due: pnpm exec prettier --write
