Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

docs(38): capture phase context
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-CONTEXT.md
Due: none

docs(state): record phase 38 context session
  .planning/STATE.md
Due: none

docs(38): research phase domain — security, refactoring, error handling
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-RESEARCH.md
Due: none

docs(38): create phase plan
  .planning/ROADMAP.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-01-PLAN.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-02-PLAN.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-03-PLAN.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-04-PLAN.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-05-PLAN.md
Due: none

test(38-02): add failing tests for withRetry utility
  src/lib/async/withRetry.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(38-03): add missing dark mode variants to 5 components
  src/components/dashboard/CompactStatRow.tsx
  src/components/dashboard/NBAHeroCard.tsx
  src/components/interview/TTSFallbackBadge.tsx
  src/components/social/LeaderboardTable.tsx
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(38-02): implement withRetry utility with exponential backoff
  src/lib/async/withRetry.test.ts
  src/lib/async/withRetry.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(38-02): add failing tests for safeAsync utility
  src/lib/async/safeAsync.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(38-01): harden Sentry config and patch bn.js vulnerability
  .env.example
  package.json
  pnpm-lock.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(38-02): implement safeAsync utility and barrel exports
  src/lib/async/index.ts
  src/lib/async/safeAsync.test.ts
  src/lib/async/safeAsync.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(38-01): remove hardcoded DSN from client Sentry config
  instrumentation-client.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(38-01): comprehensive security checklist covering 16 audit surfaces
  .planning/security/security-checklist.md
Due: none

docs(38-02): complete async utilities plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-02-SUMMARY.md
Due: none

refactor(38-03): remove dead code — unused export and orphaned file
  src/lib/audio/soundEffects.ts
  src/lib/nativeBridge.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(38-01): complete security hardening plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-01-SUMMARY.md
Due: none

docs(38-03): complete dark mode fixes and dead code removal plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-03-SUMMARY.md
Due: none

feat(38-04): add Sentry fingerprinting and wire withRetry into sync modules
  CLAUDE.md
  src/lib/interview/interviewSync.ts
  src/lib/sentry.ts
  src/lib/social/socialProfileSync.ts
  src/lib/social/streakSync.ts
  src/lib/srs/srsSync.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(38-04): formalize throw-vs-fallback in contexts, replace console.error with Sentry
  src/contexts/OfflineContext.tsx
  src/contexts/SRSContext.tsx
  src/contexts/SocialContext.tsx
  src/contexts/SupabaseAuthContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(38-05): complete ErrorBoundary test verification, CLAUDE.md audit, and Sentry categorization
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-05-SUMMARY.md
Due: none

docs(38-04): complete error handling integration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-04-SUMMARY.md
Due: none

docs(phase-38): complete phase execution
  .planning/STATE.md
  .planning/phases/38-security-analysis-fixes-and-codebase-refactoring-based-on-learnings-and-error-history/38-VERIFICATION.md
Due: none

fix(a11y): add screen reader announce for reduced-motion celebrations
  .planning/ROADMAP.md
  .planning/v3.0-MILESTONE-AUDIT.md
  src/components/celebrations/CelebrationOverlay.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: update README with comprehensive v3.0 feature documentation
  README.md
Due: none

fix(celebrations): stabilize CountUpScore formattingFn to prevent animation restart loop
  src/components/celebrations/CountUpScore.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: start milestone v4.0 Next-Gen Architecture
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: complete v4.0 project research (stack, features, architecture, pitfalls, summary)
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define milestone v4.0 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v4.0 roadmap (9 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(39): capture phase context
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-CONTEXT.md
Due: none

docs(39): research phase domain
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-RESEARCH.md
Due: none

docs(39): create phase plan
  .planning/ROADMAP.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-01-PLAN.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-02-PLAN.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-03-PLAN.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-04-PLAN.md
Due: none

chore(39-01): upgrade all non-Next.js dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

docs(39-01): complete non-Next.js dependency upgrade plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-01-SUMMARY.md
Due: none

chore(39-02): upgrade Next.js to 16.1.6 and update package.json scripts
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

feat(39-02): rename middleware to proxy and update build config for Next.js 16
  eslint.config.mjs
  next-env.d.ts
  proxy.ts
  src/lib/sentry.ts
  tsconfig.json
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(39-02): complete Next.js 16 upgrade plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-02-SUMMARY.md
Due: none

feat(39-03): create App Router global-error.tsx and Sentry dev test page
  app/dev-sentry-test/page.tsx
  app/global-error.tsx
  app/layout.tsx
  next-env.d.ts
  tsconfig.json
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(39-03): add Next.js 16 noise filters to Sentry beforeSendHandler
  src/lib/sentry.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(39-03): complete Sentry App Router reconfiguration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/39-next-js-16-upgrade-and-tooling/39-03-SUMMARY.md
Due: none
