Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

chore(10-02): remove unused Radix toast system files (~297 lines dead code)
  src/components/ui/Toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(10-02): complete dead code cleanup plan
  .planning/STATE.md
  .planning/phases/10-tech-debt-cleanup/10-02-SUMMARY.md
Due: none

docs(phase-10): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/10-tech-debt-cleanup/10-VERIFICATION.md
Due: none

docs(v1.0): final milestone audit — all 55 requirements passed, zero tech debt
  .planning/v1.0-MILESTONE-AUDIT.md
Due: none

fix: resolve Sentry errors — toast provider ordering and history API rate limit
  .husky/pre-commit
  src/AppShell.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: disable pre-commit hook and update lockfile
  .husky/pre-commit
  pnpm-lock.yaml
Due: none

style: run prettier on 31 files to fix CI format check
  src/components/dashboard/ReadinessIndicator.tsx
  src/components/interview/InterviewDashboardWidget.tsx
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSetup.tsx
  src/components/navigation/BottomTabBar.tsx
  src/components/onboarding/OnboardingTour.tsx
  src/components/onboarding/WelcomeScreen.tsx
  src/components/pwa/NotificationSettings.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/social/LeaderboardProfile.tsx
  src/components/social/LeaderboardTable.tsx
  src/components/social/LeaderboardWidget.tsx
  src/components/social/ShareCardPreview.tsx
  src/components/social/SocialOptInFlow.tsx
  src/components/social/SocialSettings.tsx
  src/components/social/StreakHeatmap.tsx
  src/components/social/StreakWidget.tsx
  src/components/srs/RatingButtons.tsx
  src/components/srs/ReviewCard.tsx
  src/components/srs/ReviewHeatmap.tsx
  src/components/srs/ReviewSession.tsx
  src/components/srs/SRSWidget.tsx
  src/components/srs/SessionSetup.tsx
  src/components/srs/SessionSummary.tsx
  src/lib/pwa/pushNotifications.ts
  src/lib/social/shareCardRenderer.ts
  src/pages/Dashboard.tsx
  src/pages/HistoryPage.tsx
  src/pages/ProgressPage.tsx
  src/pages/SettingsPage.tsx
  src/pages/SocialHubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: complete v1.0 milestone — archive and evolve planning docs
  .gitignore
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.0/AUDIT.md
  .planning/milestones/v1.0/MILESTONE.md
  .planning/milestones/v1.0/REQUIREMENTS.md
  .planning/milestones/v1.0/ROADMAP.md
  .planning/milestones/v1.0/STATE.md
Due: none

Add next milestone PRD with epics and acceptance criteria
  docs/PRD-next-milestone.md
  src/components/onboarding/OnboardingTour.tsx
  src/constants/questions/index.ts
  src/constants/questions/uscis-2025-additions.ts
  src/lib/social/badgeDefinitions.ts
  src/lib/social/badgeEngine.test.ts
  src/pages/Dashboard.tsx
  src/pages/LandingPage.tsx
  src/pages/ProgressPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: start milestone v2.0 Unified Learning Hub
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: synthesize v2.0 research into unified SUMMARY.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define milestone v2.0 requirements (29 requirements, 6 categories)
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v2.0 roadmap (7 phases, 29 requirements)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(11): capture phase context
  .planning/phases/11-design-token-foundation/11-CONTEXT.md
Due: none

docs(11): research phase domain
  .planning/phases/11-design-token-foundation/11-RESEARCH.md
Due: none

docs(11): create phase plan - 7 plans, 4 waves
  .planning/ROADMAP.md
  .planning/phases/11-design-token-foundation/11-01-PLAN.md
  .planning/phases/11-design-token-foundation/11-02-PLAN.md
  .planning/phases/11-design-token-foundation/11-03-PLAN.md
  .planning/phases/11-design-token-foundation/11-04-PLAN.md
  .planning/phases/11-design-token-foundation/11-05-PLAN.md
  .planning/phases/11-design-token-foundation/11-06-PLAN.md
  .planning/phases/11-design-token-foundation/11-07-PLAN.md
Due: none

feat(11-01): create tokens.css with two-tier design token architecture
  src/styles/tokens.css
Due: pnpm exec prettier --write

feat(11-01): restructure Tailwind config and slim globals.css to use token system
  src/styles/globals.css
  tailwind.config.js
Due: pnpm exec prettier --write

docs(11-01): complete design token foundation plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-01-SUMMARY.md
Due: none

feat(11-02): add FOUC prevention and enhance ThemeContext
  pages/_document.tsx
  src/contexts/ThemeContext.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(11-03): add JS token utility and delete dead design-tokens.ts
  src/lib/design-tokens.ts
  src/lib/tokens.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(11-02): create animated sun/moon toggle with motion/react
  src/components/ThemeToggle.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(11-03): complete JS token access utility plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-03-SUMMARY.md
Due: none

docs(11-02): complete dark mode infrastructure plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-02-SUMMARY.md
Due: none

feat(11-06): tokenize all remaining hardcoded colors in globals.css
  src/styles/globals.css
  src/styles/tokens.css
Due: pnpm exec prettier --write

docs(11-06): complete globals.css tokenization plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-06-SUMMARY.md
Due: none

feat(11-05): migrate page files from palette classes to semantic tokens
  src/pages/Dashboard.tsx
  src/pages/HistoryPage.tsx
  src/pages/LandingPage.tsx
  src/pages/OpEdPage.tsx
  src/pages/PracticePage.tsx
  src/pages/ProgressPage.tsx
  src/pages/SettingsPage.tsx
  src/pages/SocialHubPage.tsx
  src/pages/StudyGuidePage.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(11-05): migrate remaining palette classes in BilingualToast and PracticeConfig
  src/components/BilingualToast.tsx
  src/components/practice/PracticeConfig.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(11-05): complete bulk semantic token migration plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-05-SUMMARY.md
Due: none

feat(11-04): migrate Recharts charts and canvas components to semantic tokens
  src/components/interview/AudioWaveform.tsx
  src/components/interview/InterviewResults.tsx
  src/components/progress/SkillTreePath.tsx
  src/components/test/CircularTimer.tsx
  src/components/ui/Card.tsx
  src/pages/HistoryPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(11-04): migrate medium-complexity components to semantic tokens
  src/components/pwa/IOSTip.tsx
  src/components/pwa/InstallPrompt.tsx
  src/components/pwa/NotificationPrePrompt.tsx
  src/components/pwa/NotificationSettings.tsx
  src/components/pwa/WelcomeModal.tsx
  src/components/social/StreakHeatmap.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(11-04): complete high/medium complexity token migration plan
  .planning/STATE.md
  .planning/phases/11-design-token-foundation/11-04-SUMMARY.md
Due: none

chore(11-07): install stylelint and configure color token enforcement
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix(11): replace primitive token classes with semantic for dark mode
  src/components/AppNavigation.tsx
  src/components/celebrations/CountUpScore.tsx
  src/components/explanations/ExplanationCard.tsx
  src/components/interview/AnswerReveal.tsx
  src/components/interview/InterviewDashboardWidget.tsx
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewSetup.tsx
  src/components/interview/InterviewTimer.tsx
  src/components/interview/SelfGradeButtons.tsx
  src/components/nudges/StudyGuideHighlight.tsx
  src/components/nudges/WeakAreaNudge.tsx
  src/components/practice/PracticeConfig.tsx
  src/components/practice/PracticeResults.tsx
  src/components/practice/PracticeSession.tsx
  src/components/pwa/IOSTip.tsx
  src/components/pwa/NotificationSettings.tsx
  src/components/pwa/SyncStatusIndicator.tsx
  src/components/social/BadgeHighlights.tsx
  src/components/social/LeaderboardProfile.tsx
  src/components/social/LeaderboardTable.tsx
  src/components/srs/DeckManager.tsx
  src/components/srs/RatingButtons.tsx
  src/components/srs/SRSWidget.tsx
  src/components/srs/SessionSetup.tsx
  src/components/srs/SessionSummary.tsx
  src/components/study/Flashcard3D.tsx
  src/components/test/AnswerFeedback.tsx
  src/components/ui/Progress.tsx
  src/pages/Dashboard.tsx
  src/pages/HistoryPage.tsx
  src/pages/LandingPage.tsx
  src/pages/ProgressPage.tsx
  src/pages/SettingsPage.tsx
  src/pages/StudyGuidePage.tsx
  src/pages/TestPage.tsx
  tailwind.config.js
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(11): fix broken subtle0 classes and dashboard button colors
  .claude/session-logs/2026-02-08.md
  .claude/session-logs/2026-02-09.md
  src/components/interview/SelfGradeButtons.tsx
  src/components/nudges/StudyGuideHighlight.tsx
  src/components/srs/DeckManager.tsx
  src/components/study/Flashcard3D.tsx
  src/components/test/AnswerFeedback.tsx
  src/components/ui/Progress.tsx
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(11): improve nav highlight and button hover visibility
  src/components/AppNavigation.tsx
  src/components/navigation/BottomTabBar.tsx
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(11-07): complete lint enforcement and visual verification plan
  .planning/phases/11-design-token-foundation/11-07-SUMMARY.md
Due: none
