Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

feat(02-04): integrate install and welcome flow into AppShell
  src/AppShell.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(02-04): complete Install Prompt & Welcome Flow plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-04-SUMMARY.md
Due: none

feat(02-05): create IOSTip component for iOS Safari data persistence tip
  src/components/pwa/IOSTip.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(02-05): integrate iOS tip into AppShell onboarding flow
  src/AppShell.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(02-05): complete iOS Safari Data Persistence Tip plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-05-SUMMARY.md
Due: none

feat(02-06): set up web-push and update service worker with push handlers
  .env.example
  .gitignore
  package.json
  pnpm-lock.yaml
  public/icons/badge-72.png
  src/lib/pwa/sw.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(02-06): create push subscription logic, hook, and API routes
  eslint.config.mjs
  pages/api/push/send.ts
  pages/api/push/subscribe.ts
  src/hooks/usePushNotifications.ts
  src/lib/pwa/pushNotifications.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(02-06): create NotificationSettings UI and settings page
  pages/api/push/send.ts
  src/AppShell.tsx
  src/components/pwa/NotificationSettings.tsx
  src/pages/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(02-06): complete push notification infrastructure plan
  .planning/STATE.md
  .planning/phases/02-pwa-offline/02-06-SUMMARY.md
Due: none

docs(02): complete PWA & Offline phase
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(03): capture phase context
  .planning/phases/03-ui-ux-bilingual-polish/03-CONTEXT.md
Due: none

docs(03): research UI/UX and bilingual polish phase
  .planning/phases/03-ui-ux-bilingual-polish/03-RESEARCH.md
Due: none

docs(03): complete phase 3 planning with 9 plans
  .planning/ROADMAP.md
  .planning/phases/03-ui-ux-bilingual-polish/03-06-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-07-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-08-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-09-PLAN.md
Due: none

fix(03): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/03-ui-ux-bilingual-polish/03-05-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-06-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-08-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-08a-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-09-PLAN.md
Due: none

docs(03): add remaining phase 3 plan files
  .planning/agent-history.json
  .planning/phases/03-ui-ux-bilingual-polish/03-01-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-02-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-03-PLAN.md
  .planning/phases/03-ui-ux-bilingual-polish/03-04-PLAN.md
Due: pnpm exec prettier --write

feat(03-02): add useReducedMotion hook
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
  src/hooks/useReducedMotion.ts
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-01): create design tokens and extend Tailwind color palette
  src/components/ui/Button.tsx
  src/lib/design-tokens.ts
  tailwind.config.js
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-01): add animation keyframes and CSS variables for blue color system
  src/components/ui/Card.tsx
  src/components/ui/Skeleton.tsx
  src/styles/animations.css
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(03-01): complete Design Foundation plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-01-SUMMARY.md
Due: none

docs(03-02): complete Core Animated UI Components plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-02-SUMMARY.md
Due: none

feat(03-03): add accessible Dialog component with bottom-sheet animation
  src/components/animations/PageTransition.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-03): add Dialog.tsx component
  src/components/ui/Dialog.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-03): add Radix Toast with slide-up animation and bilingual support
  src/components/ui/Toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-04): add StaggeredList animations for list entrance
  src/components/animations/StaggeredList.tsx
  src/components/ui/Progress.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-04): integrate PageTransition into app layout
  pages/_app.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(03-04): complete Page Transitions & List Animations plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-04-SUMMARY.md
Due: none

docs(03-03): complete Dialog, Toast, Progress plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-03-SUMMARY.md
Due: none

feat(03-07): create Flashcard3D component with 3D flip animation
  src/components/study/Flashcard3D.tsx
  src/lib/i18n/strings.ts
  src/pages/HistoryPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-07): create FlashcardStack with swipe gestures
  src/components/study/FlashcardStack.tsx
  src/components/test/CircularTimer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-07): create OnboardingTour with react-joyride
  src/components/onboarding/OnboardingTour.tsx
  src/components/onboarding/index.ts
  src/hooks/useOnboarding.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(03-07): complete Flashcards & Onboarding plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-07-SUMMARY.md
  src/components/bilingual/BilingualButton.tsx
  src/components/bilingual/BilingualHeading.tsx
  src/components/bilingual/BilingualText.tsx
  src/components/bilingual/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-06): add PreTestScreen and AnswerFeedback components
  src/components/AppNavigation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-06): add PreTestScreen and AnswerFeedback components
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-05-SUMMARY.md
  src/components/test/AnswerFeedback.tsx
  src/components/test/PreTestScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-06): add Confetti and CountUpScore celebration components
  package.json
  pnpm-lock.yaml
  src/components/celebrations/Confetti.tsx
  src/components/celebrations/CountUpScore.tsx
  src/components/celebrations/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(03-06): complete Test UI Components plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-06-SUMMARY.md
Due: none

feat(03-08): create ReadinessIndicator component for ANXR-05
  src/components/dashboard/ReadinessIndicator.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-08): update Dashboard with Phase 3 components and readiness indicator
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-08): update LandingPage and AuthPage with bilingual components
  src/pages/AuthPage.tsx
  src/pages/LandingPage.tsx
  src/pages/StudyGuidePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(03-08): complete Dashboard, Landing, Auth Page Polish plan
  .planning/STATE.md
  .planning/phases/03-ui-ux-bilingual-polish/03-08-SUMMARY.md
  src/components/ui/LanguageToggle.tsx
  src/contexts/LanguageContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(03-08a): update TestPage with PreTestScreen, CircularTimer, and celebrations
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
