Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

feat(17-02): upgrade GlassCard with tier system and prismatic border
  src/components/hub/GlassCard.tsx
  src/components/ui/GlassCard.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-01): complete CSS foundation plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-01-SUMMARY.md
Due: none

docs(17-02): complete motion config + GlassCard tier system plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-02-SUMMARY.md
Due: none

feat(17-03): apply glass tiers + prismatic borders to nav surfaces (partial)
  src/components/navigation/GlassHeader.tsx
  src/components/navigation/Sidebar.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-04): button triple feedback + card spring config (partial)
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-05): hub overview GlassCard tiers + stat card spring entrance (partial)
  src/components/hub/OverviewTab.tsx
  src/components/hub/StatCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-05B): prismatic skeleton shimmer + WelcomeState glass entrance (partial)
  src/components/hub/HubSkeleton.tsx
  src/components/hub/WelcomeState.tsx
  src/styles/animations.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-08): touch target audit - study guide, practice config, speech button (partial)
  src/components/practice/PracticeConfig.tsx
  src/components/ui/SpeechButton.tsx
  src/pages/StudyGuidePage.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-03): BottomTabBar glass-heavy + prismatic border, NavItem spring pop
  src/components/navigation/BottomTabBar.tsx
  src/components/navigation/NavItem.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-03): complete navigation glass-morphism plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-03-SUMMARY.md
Due: none

feat(17-04): spring animations for tabs, toggles, dialog, progress
  src/components/ThemeToggle.tsx
  src/components/hub/HubTabBar.tsx
  src/components/ui/Dialog.tsx
  src/components/ui/LanguageToggle.tsx
  src/components/ui/Progress.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-04): complete micro-interactions plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-04-SUMMARY.md
Due: none

feat(17-05): add SPRING_GENTLE fill animations to progress rings, donuts, and bars
  src/components/hub/CategoryDonut.tsx
  src/components/hub/ReadinessRing.tsx
  src/components/hub/SubcategoryBar.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-05): complete hub overview spring animations plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-05-SUMMARY.md
Due: none

feat(17-08): touch target audit - test, settings, session setup, button sm size
  src/components/srs/SessionSetup.tsx
  src/components/ui/Button.tsx
  src/pages/SettingsPage.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-05B): staggered spring animations for history/achievements + spring tab transitions
  src/components/hub/AchievementsTab.tsx
  src/components/hub/HistoryTab.tsx
  src/pages/HubPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-08): complete touch target audit plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-08-SUMMARY.md
Due: none

docs(17-05B): complete hub component polish plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-05B-SUMMARY.md
Due: none

feat(17-06): spring-bounce flashcard flip, prismatic badge celebration, count-up scale pop
  src/components/celebrations/CountUpScore.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-07): upgrade StaggeredList to bouncy springs and PageTransition to scale-down
  src/components/animations/PageTransition.tsx
  src/components/animations/StaggeredList.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-07): add interview typing dots, answer feedback animations, and SRS glass styling
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewSetup.tsx
  src/components/interview/SelfGradeButtons.tsx
  src/components/srs/ReviewCard.tsx
  src/components/test/AnswerFeedback.tsx
  src/components/test/PreTestScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-07): complete stagger, page transition, and micro-interaction plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-07-SUMMARY.md
Due: none

feat(17-06): dashboard glass tiers, streak/SRS pulse, staggered entrance
  src/components/dashboard/CategoryPreviewCard.tsx
  src/components/dashboard/CompactStatRow.tsx
  src/components/dashboard/NBAHeroCard.tsx
  src/components/dashboard/RecentActivityCard.tsx
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(17-06): complete flashcard, badge, dashboard micro-interactions plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-06-SUMMARY.md
Due: none

feat(17-09): add circular reveal theme toggle via View Transitions API
  src/components/ThemeToggle.tsx
  src/components/navigation/BottomTabBar.tsx
  src/components/navigation/Sidebar.tsx
  src/contexts/ThemeContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(17-09): refine dark mode frosted glass and elevation hierarchy
  src/styles/globals.css
  src/styles/prismatic-border.css
  src/styles/tokens.css
Due: pnpm exec prettier --write

docs(17-09): complete dark mode & theme toggle plan
  .planning/STATE.md
  .planning/phases/17-ui-system-polish/17-09-SUMMARY.md
Due: none

fix(17-10): resolve StaggeredList invisible content and NavItem WAAPI error
  src/components/animations/StaggeredList.tsx
  src/components/navigation/NavItem.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(v2.0): close milestone audit gaps — docs, dedup, cleanup
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/14-unified-navigation/14-unified-navigation-VERIFICATION.md
  .planning/phases/17-ui-system-polish/17-10-SUMMARY.md
  .planning/phases/17-ui-system-polish/17-10-VERIFICATION.md
  .planning/v2.0-MILESTONE-AUDIT.md
  src/components/dashboard/ReadinessIndicator.tsx
  src/components/dashboard/RecentActivityCard.tsx
  src/components/hub/HistoryTab.tsx
  src/components/interview/InterviewDashboardWidget.tsx
  src/components/nudges/SuggestedFocus.tsx
  src/components/progress/CategoryGrid.tsx
  src/components/social/LeaderboardWidget.tsx
  src/components/social/StreakWidget.tsx
  src/lib/formatRelativeDate.ts
  tailwind.config.js
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: complete v2.0 Unified Learning Hub milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.0-MILESTONE-AUDIT.md
  .planning/milestones/v2.0-REQUIREMENTS.md
  .planning/milestones/v2.0-ROADMAP.md
Due: none

fix: viewport meta for notched devices and touch click-outside handler
  pages/_document.tsx
  public/offline.html
  src/components/navigation/NavigationProvider.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: prismatic-border overriding position:fixed on nav components
  .claude/learnings/INDEX.md
  .claude/learnings/css-specificity.md
  src/styles/prismatic-border.css
Due: pnpm exec prettier --write

docs: start milestone v2.1 Quality & Polish
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: complete v2.1 project research synthesis
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define milestone v2.1 requirements (37 requirements)
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v2.1 roadmap (8 phases, 51 requirements)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(18): capture phase context
  .planning/phases/18-language-mode/18-CONTEXT.md
Due: none

docs(18): research phase domain
  .planning/phases/18-language-mode/18-RESEARCH.md
Due: none

docs(18): create phase plan (7 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/18-language-mode/18-01-PLAN.md
  .planning/phases/18-language-mode/18-02-PLAN.md
  .planning/phases/18-language-mode/18-03-PLAN.md
  .planning/phases/18-language-mode/18-04-PLAN.md
  .planning/phases/18-language-mode/18-05-PLAN.md
  .planning/phases/18-language-mode/18-06-PLAN.md
  .planning/phases/18-language-mode/18-07-PLAN.md
Due: none

feat(18-05): add bilingual examiner label and analytics to InterviewSession
  src/components/interview/InterviewSession.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write
