Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

test(23-03): add comprehensive sort reducer unit tests
  src/lib/sort/sortReducer.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-05): add SortProgress and KnowDontKnowButtons components
  src/components/sort/KnowDontKnowButtons.tsx
  src/components/sort/SortProgress.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-04): SwipeableStack with depth transforms and static card previews
  src/components/sort/SwipeableStack.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-05): add SortCountdown component with circular SVG timer
  src/components/sort/SortCountdown.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(23): complete Wave 2 summaries for plans 03, 04, 05
  .planning/STATE.md
  .planning/phases/23-flashcard-sort/23-03-SUMMARY.md
  .planning/phases/23-flashcard-sort/23-04-SUMMARY.md
  .planning/phases/23-flashcard-sort/23-05-SUMMARY.md
Due: none

feat(23-06): useSortSession hook with sound, haptics, and smart card defaults
  src/hooks/useSortSession.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-07): RoundSummary with stats grid, category breakdown, and improvement delta
  src/components/sort/RoundSummary.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-07): MissedCardsList and SRSBatchAdd components
  src/components/sort/MissedCardsList.tsx
  src/components/sort/SRSBatchAdd.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(23-07): complete round summary, missed cards, and SRS batch add plan
  .planning/STATE.md
  .planning/phases/23-flashcard-sort/23-07-SUMMARY.md
Due: none

feat(23-06): SortModeContainer orchestrator and StudyGuidePage Sort tab
  src/components/quiz/ExitConfirmDialog.tsx
  src/components/sort/SortModeContainer.tsx
  src/pages/StudyGuidePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(23-06): complete sort mode orchestrator plan
  .planning/STATE.md
  .planning/phases/23-flashcard-sort/23-06-SUMMARY.md
Due: none

feat(23-08): add sort session persistence to useSortSession
  src/hooks/useSortSession.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(23-08): add session resume flow to SortModeContainer
  src/components/sort/SortModeContainer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(23-08): complete sort session persistence plan
  .planning/phases/23-flashcard-sort/23-08-SUMMARY.md
Due: none

feat(23-09): wire RoundSummary and SRSBatchAdd into SortModeContainer
  src/components/sort/SortModeContainer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(23-09): complete final integration summary and update STATE
  .planning/STATE.md
  .planning/phases/23-flashcard-sort/23-09-SUMMARY.md
Due: none

fix(sort): button sorts stuck in animating phase + flip text overflow
  src/components/sort/SortModeContainer.tsx
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: add session logs and TTS voice selection learnings
  .claude/learnings/tts-voice-selection.md
  .claude/session-logs/2026-02-15.md
  .claude/session-logs/2026-02-16.md
  .claude/session-logs/2026-02-17.md
Due: none

docs(24): capture phase context
  .planning/phases/24-accessibility-performance/24-CONTEXT.md
Due: none

docs(24): research phase domain
  .planning/phases/24-accessibility-performance/24-RESEARCH.md
Due: none

docs(24): create phase plan
  .planning/ROADMAP.md
  .planning/phases/24-accessibility-performance/24-01-PLAN.md
  .planning/phases/24-accessibility-performance/24-02-PLAN.md
  .planning/phases/24-accessibility-performance/24-03-PLAN.md
  .planning/phases/24-accessibility-performance/24-04-PLAN.md
  .planning/phases/24-accessibility-performance/24-05-PLAN.md
  .planning/phases/24-accessibility-performance/24-06-PLAN.md
  .planning/phases/24-accessibility-performance/24-07-PLAN.md
  .planning/phases/24-accessibility-performance/24-08-PLAN.md
  .planning/phases/24-accessibility-performance/24-09-PLAN.md
  .planning/phases/24-accessibility-performance/24-10-PLAN.md
Due: none

feat(24-02): add FeedbackPanel sr-only announcements and split toast roles
  src/components/BilingualToast.tsx
  src/components/quiz/FeedbackPanel.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(24-08): fix backfaceVisibility and flip flickering in Flashcard3D
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(24-03): add celebration SR announcements, skip-to-content link, and sort round announcements
  src/components/navigation/NavigationShell.tsx
  src/components/quiz/StreakReward.tsx
  src/components/quiz/XPPopup.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(24-03): add round-completion SR announcement in SortModeContainer
  src/components/sort/SortModeContainer.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(24-02): add segment labels, language toggle full context, and FlagToggle sr announcement
  src/components/quiz/SegmentedProgressBar.tsx
  src/components/ui/FlagToggle.tsx
  src/components/ui/LanguageToggle.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(24-03): add high contrast mode tokens and quiz focus management
  src/components/practice/PracticeSession.tsx
  src/pages/TestPage.tsx
  src/styles/tokens.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(24-09): lower swipe thresholds and guard animation against unmount
  src/components/sort/SwipeableCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-02): complete screen reader announcements plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-02-SUMMARY.md
  eslint.config.mjs
Due: pnpm exec prettier --write

fix(24-08): fix deck card transparency and flip layout shift
  src/components/sort/SwipeableStack.tsx
  src/components/study/FlashcardStack.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-03): complete celebrations a11y, high contrast, skip link, and focus management plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-03-SUMMARY.md
Due: none

docs(24-08): complete flashcard 3D rendering bug fixes plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-08-SUMMARY.md
  instrumentation-client.ts
  next.config.mjs
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(24-01): install eslint-plugin-jsx-a11y, vitest-axe, and bundle-analyzer
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

feat(24-04): add reduced motion crossfade and linear slide alternatives
  src/components/sort/SortModeContainer.tsx
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-07): complete performance monitoring and optimization plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-07-SUMMARY.md
Due: none

feat(24-04): replace instant-off motion with subtle reduced motion alternatives
  src/components/navigation/NavItem.tsx
  src/components/navigation/NavigationShell.tsx
  src/components/navigation/Sidebar.tsx
  src/components/sort/SortModeContainer.tsx
  src/components/ui/FlagToggle.tsx
  src/components/ui/LanguageToggle.tsx
  src/components/ui/PillTabBar.tsx
  src/components/ui/Progress.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(24-01): configure vitest-axe and add initial a11y tests
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-04-SUMMARY.md
  src/__tests__/a11y/feedbackPanel.a11y.test.tsx
  src/__tests__/a11y/toast.a11y.test.tsx
  src/__tests__/setup.ts
  src/types/vitest-axe.d.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(24-01): complete a11y linting and testing infrastructure plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-01-SUMMARY.md
Due: none

docs(24-09): complete sort mode swipe/gesture bug fixes plan
  .planning/STATE.md
  .planning/phases/24-accessibility-performance/24-09-SUMMARY.md
Due: none

feat(24-05): add usePerQuestionTimer hook and timer warning sound
  src/hooks/usePerQuestionTimer.ts
  src/lib/audio/soundEffects.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
