Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(07-07): complete social hub and leaderboard plan
  .planning/STATE.md
  .planning/phases/07-social-features/07-07-SUMMARY.md
Due: none

feat(07-08): AppShell routing, SocialProvider integration, and navigation
  src/AppShell.tsx
  src/components/AppNavigation.tsx
  src/lib/i18n/strings.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(07-08): share buttons, badge celebrations, leaderboard widget, composite score sync
  src/components/interview/InterviewResults.tsx
  src/components/practice/PracticeResults.tsx
  src/pages/Dashboard.tsx
  src/pages/HistoryPage.tsx
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(07-08): complete Social Features Integration plan
  .planning/STATE.md
  .planning/phases/07-social-features/07-08-SUMMARY.md
Due: none

docs(07): complete Social Features phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/07-social-features/07-VERIFICATION.md
Due: none

docs(roadmap): add gap closure phases 8-9 from v1 audit
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-critical-integration-fixes/.gitkeep
  .planning/phases/09-ui-polish-onboarding/.gitkeep
  .planning/v1-MILESTONE-AUDIT.md
Due: none

docs(08): capture phase context for Critical Integration Fixes
  .planning/phases/08-critical-integration-fixes/08-CONTEXT.md
Due: none

docs(08): create phase plan
  .planning/ROADMAP.md
  .planning/phases/08-critical-integration-fixes/08-01-PLAN.md
  .planning/phases/08-critical-integration-fixes/08-02-PLAN.md
  .planning/phases/08-critical-integration-fixes/08-03-PLAN.md
Due: none

fix(08-01): delete sentry demo pages, fix lint error, remove eslint-disable
  pages/api/sentry-example-api.ts
  pages/sentry-example-page.tsx
  src/components/AppNavigation.tsx
  src/hooks/useStreak.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(08-01): update eslint ignores, fix sentry deprecations, restore pre-commit
  .husky/pre-commit
  eslint.config.mjs
  next.config.mjs
Due: pnpm exec prettier --write

docs(08-01): complete Build & Lint Fixes plan
  .planning/STATE.md
  .planning/phases/08-critical-integration-fixes/08-01-SUMMARY.md
Due: none

feat(08-02): update PendingTestResult schema and syncSingleResult to match Supabase
  src/lib/pwa/offlineDb.ts
  src/lib/pwa/syncQueue.ts
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(08-02): add offline fallback in saveTestSession catch block
  src/contexts/SupabaseAuthContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(08-03): complete Dashboard Settings Navigation plan
  .planning/STATE.md
  .planning/phases/08-critical-integration-fixes/08-03-SUMMARY.md
Due: none

docs(08-02): complete Offline Test Result Sync Pipeline plan
  .planning/STATE.md
  .planning/phases/08-critical-integration-fixes/08-02-SUMMARY.md
Due: none

docs(08): complete Critical Integration Fixes phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/08-critical-integration-fixes/08-RESEARCH.md
  .planning/phases/08-critical-integration-fixes/08-VERIFICATION.md
Due: pnpm exec prettier --write

docs(09): capture phase context
  .planning/phases/09-ui-polish-onboarding/09-CONTEXT.md
Due: none

docs(09): research UI Polish & Onboarding phase domain
  .planning/phases/09-ui-polish-onboarding/09-RESEARCH.md
Due: none

docs(09): create phase plan
  .planning/ROADMAP.md
  .planning/phases/09-ui-polish-onboarding/09-01-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-02-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-03-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-04-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-05-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-06-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-07-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-08-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-09-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-10-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-11-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-12-PLAN.md
Due: none

fix(09): resolve AppNavigation file conflict between plans 05 and 06
  .planning/phases/09-ui-polish-onboarding/09-05-PLAN.md
  .planning/phases/09-ui-polish-onboarding/09-06-PLAN.md
Due: none

feat(09-02): create sound effects module with 5 distinct sounds and mute toggle
  src/lib/audio/soundEffects.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-01): update design tokens, CSS variables, and Tailwind config for Duolingo aesthetic
  src/lib/design-tokens.ts
  src/styles/globals.css
  tailwind.config.js
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-02): add sound effects mute toggle to Settings page
  src/pages/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-01): convert Button and Card to 3D Duolingo aesthetic
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(09-02): complete Sound Effects System plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-02-SUMMARY.md
Due: none

docs(09-01): complete Design System Foundation plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-01-SUMMARY.md
Due: none

feat(09-03): redesign SyncStatusIndicator as floating toast
  src/components/BilingualToast.tsx
  src/components/pwa/SyncStatusIndicator.tsx
  src/components/ui/use-toast.ts
  src/contexts/OfflineContext.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-04): create WelcomeScreen and TourTooltip components
  src/components/onboarding/TourTooltip.tsx
  src/components/onboarding/WelcomeScreen.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-03): mount floating SyncStatusIndicator in AppShell
  src/AppShell.tsx
  src/components/AppNavigation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(09-05): reclassify non-data-loss destructive toasts to warning and remove red tokens
  src/contexts/OfflineContext.tsx
  src/hooks/useSyncQueue.ts
  src/lib/srs/fsrsEngine.ts
  src/pages/TestPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(09-03): complete Floating Sync Status Indicator plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-02-SUMMARY.md
  .planning/phases/09-ui-polish-onboarding/09-03-SUMMARY.md
Due: none

feat(09-04): enhance OnboardingTour with 7 steps, mount in AppShell, add Settings replay
  src/AppShell.tsx
  src/components/onboarding/OnboardingTour.tsx
  src/components/onboarding/index.ts
  src/pages/Dashboard.tsx
  src/pages/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(09-05): complete Red Token Audit plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-05-SUMMARY.md
Due: none

docs(09-04): complete Onboarding Tour Enhancement plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-04-SUMMARY.md
Due: none

feat(09-06): create mobile bottom tab bar with 5 Duolingo-style tabs
  src/components/navigation/BottomTabBar.tsx
  src/lib/i18n/strings.ts
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-07): redesign landing page with Duolingo-inspired bilingual layout
  src/pages/LandingPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-06): refresh desktop nav with Duolingo icons and mount BottomTabBar
  src/AppShell.tsx
  src/components/AppNavigation.tsx
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-08): overhaul Dashboard with hero readiness score and Duolingo treatment
  src/pages/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(09-07): redesign auth pages with Duolingo-inspired bilingual design
  src/pages/AuthPage.tsx
  src/pages/PasswordResetPage.tsx
  src/pages/PasswordUpdatePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(09-06): complete Mobile Bottom Tab Bar & Desktop Nav Refresh plan
  .planning/STATE.md
  .planning/phases/09-ui-polish-onboarding/09-06-SUMMARY.md
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
