Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

feat(50-03): add per-field LWW settings merge with timestamps and dirty flags
  src/__tests__/settingsSync.test.ts
  src/lib/settings/settingsTimestamps.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(50-03): wire per-field LWW merge into providers and replace server-wins
  src/contexts/LanguageContext.tsx
  src/contexts/SupabaseAuthContext.tsx
  src/contexts/TTSContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useTestDate.ts
  src/lib/settings/index.ts
  src/lib/settings/settingsSync.ts
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(50-03): complete settings LWW merge plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/50/50-03-SUMMARY.md
Due: none

docs(phase-50): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/50/50-VERIFICATION.md
Due: none

docs(phase-50): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: none

chore: format next-env.d.ts and track phase 50 research artifacts
  .planning/phases/50/50-ENHANCEMENT-RECOMMENDATIONS.md
  .planning/phases/50/50-PRECONTEXT-RESEARCH.md
Due: none

docs(51): capture phase context
  .planning/phases/51/51-CONTEXT.md
Due: none

docs(state): record phase 51 context session
  .planning/STATE.md
Due: none

docs(51): create phase plan — 3 plans for provider tests + dep audit
  .planning/ROADMAP.md
  .planning/phases/51/51-01-PLAN.md
  .planning/phases/51/51-02-PLAN.md
  .planning/phases/51/51-03-PLAN.md
Due: none

docs(51): track research artifacts and config
  .planning/phases/51/51-ENHANCEMENT-RECOMMENDATIONS.md
  .planning/phases/51/51-PRECONTEXT-RESEARCH.md
Due: none

test(51-01): add State and Navigation provider unit tests
  src/__tests__/contexts/Navigation.test.tsx
  src/__tests__/contexts/State.test.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(51-01): add Language and Offline provider tests, add 4 per-file coverage thresholds
  src/__tests__/contexts/Language.test.tsx
  src/__tests__/contexts/Offline.test.tsx
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(51-03): remove obsolete CVE-2026-26996 from ignoreCves
  package.json
Due: pnpm exec prettier --write

docs(51-01): complete simple provider unit tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51/51-01-SUMMARY.md
Due: none

docs(51-03): complete dependency audit re-evaluation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51/51-03-SUMMARY.md
Due: none

test(51-02): add Theme and Social provider unit tests
  src/__tests__/contexts/Social.test.tsx
  src/__tests__/contexts/Theme.test.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(51-02): add SRS and SupabaseAuth provider tests, add 4 per-file coverage thresholds
  src/__tests__/contexts/SRS.test.tsx
  src/__tests__/contexts/SupabaseAuth.test.tsx
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(51-02): fix TypeScript type errors in Theme and Social test fixtures
  src/__tests__/contexts/Social.test.tsx
  src/__tests__/contexts/Theme.test.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(51-02): complete complex provider unit tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51/51-02-SUMMARY.md
Due: none

docs(phase-51): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51/51-VERIFICATION.md
Due: none

docs(phase-51): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: none

docs(phase-52): research E2E critical flows + accessibility domain
  .planning/phases/52/52-RESEARCH.md
Due: none

docs(phase-52): add validation strategy
  .planning/phases/52/52-VALIDATION.md
Due: none

docs(phase-52): create 4-plan phase for E2E critical flows + accessibility
  .planning/ROADMAP.md
  .planning/phases/52/52-01-PLAN.md
  .planning/phases/52/52-02-PLAN.md
  .planning/phases/52/52-03-PLAN.md
  .planning/phases/52/52-04-PLAN.md
Due: none

fix(phase-52): revise plans based on checker feedback
  .planning/phases/52/52-01-PLAN.md
  .planning/phases/52/52-03-PLAN.md
  .planning/phases/52/52-04-PLAN.md
  .planning/phases/52/52-VALIDATION.md
Due: none

fix(52-02): accessibility CSS token and glass contrast fixes
  src/styles/globals.css
  src/styles/tokens.css
Due: pnpm exec prettier --write

fix(52-02): touch target 44px compliance across 9 component families
  src/components/bilingual/BilingualButton.tsx
  src/components/explanations/RelatedQuestions.tsx
  src/components/hub/AchievementsTab.tsx
  src/components/hub/SubcategoryBar.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewTranscript.tsx
  src/components/navigation/NavItem.tsx
  src/components/practice/PracticeConfig.tsx
  src/components/ui/FlagToggle.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(52-02): complete accessibility CSS fixes plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52/52-02-SUMMARY.md
  e2e/fixtures/auth.ts
  e2e/fixtures/index.ts
  e2e/fixtures/storage.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(52-01): E2E tests for auth-dashboard, mock-test, practice session
  e2e/auth-dashboard.spec.ts
  e2e/mock-test.spec.ts
  e2e/practice.spec.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(52-01): complete E2E infrastructure + critical flow tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52/52-01-SUMMARY.md
Due: none

test(52-03): add flashcard sort and offline sync E2E tests
  e2e/flashcard-sort.spec.ts
  e2e/offline-sync.spec.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(52-04): color-only indicator aria-labels + 5 vitest-axe tests
  src/__tests__/a11y/bottomTabBar.a11y.test.tsx
  src/__tests__/a11y/categoryBreakdown.a11y.test.tsx
  src/__tests__/a11y/flagToggle.a11y.test.tsx
  src/__tests__/a11y/navBadge.a11y.test.tsx
  src/__tests__/a11y/syncStatus.a11y.test.tsx
  src/components/navigation/NavBadge.tsx
  src/components/results/CategoryBreakdown.tsx
  src/components/study/Flashcard3D.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(52-03): add interview session and SW update E2E tests
  e2e/interview.spec.ts
  e2e/sw-update.spec.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(52-04): WCAG 2.2 AA axe-core scans + touch target regression test
  e2e/touch-targets.spec.ts
  e2e/wcag-scan.spec.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(52-03): complete E2E offline/interview/SW update plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52/52-03-SUMMARY.md
Due: none

docs(52-04): complete WCAG + accessibility plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52/52-04-SUMMARY.md
Due: none

fix(52): resolve ESLint and Prettier issues from parallel execution
  e2e/fixtures/index.ts
  e2e/flashcard-sort.spec.ts
  e2e/interview.spec.ts
  e2e/mock-test.spec.ts
  e2e/offline-sync.spec.ts
  e2e/sw-update.spec.ts
  e2e/wcag-scan.spec.ts
  src/__tests__/a11y/bottomTabBar.a11y.test.tsx
  src/__tests__/a11y/flagToggle.a11y.test.tsx
  src/__tests__/a11y/navBadge.a11y.test.tsx
  src/__tests__/a11y/syncStatus.a11y.test.tsx
  src/components/navigation/NavBadge.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(52): persist human verification items as UAT
  .planning/phases/52/52-HUMAN-UAT.md
  .planning/phases/52/52-VERIFICATION.md
Due: none

docs(phase-52): complete phase execution and verification
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(phase-52): add context gathering artifacts + format fix
  .planning/phases/52/52-CONTEXT.md
  .planning/phases/52/52-ENHANCEMENT-RECOMMENDATIONS.md
  .planning/phases/52/52-PRECONTEXT-RESEARCH.md
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,mjs,json,css})
