Repository min-hinthar/civic-test-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{js,mjs,json,css}": ["pnpm exec prettier --write"]
}

feat(29-05): unify motion tokens between CSS and JS systems
  src/lib/motion-config.ts
  src/styles/globals.css
  src/styles/tokens.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(29-06): migrate arbitrary font sizes to semantic typography scale
  src/components/hub/AchievementsTab.tsx
  src/components/hub/StatCard.tsx
  src/components/interview/ChatBubble.tsx
  src/components/interview/InterviewResults.tsx
  src/components/interview/InterviewSession.tsx
  src/components/interview/InterviewTranscript.tsx
  src/components/interview/LongPressButton.tsx
  src/components/interview/TextAnswerInput.tsx
  src/components/navigation/NavBadge.tsx
  src/components/practice/PracticeConfig.tsx
  src/components/progress/SkillTreePath.tsx
  src/components/results/CategoryBreakdown.tsx
  src/components/sessions/ResumeSessionCard.tsx
  src/components/social/BadgeHighlights.tsx
  src/components/sort/MissedCardsList.tsx
  src/components/sort/SwipeableStack.tsx
  src/components/ui/BurmeseSpeechButton.tsx
  src/components/ui/SpeechButton.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(29): add summaries for wave 2 plans (02, 05, 06)
  .planning/phases/29-visual-foundation/29-02-SUMMARY.md
  .planning/phases/29-visual-foundation/29-05-SUMMARY.md
  .planning/phases/29-visual-foundation/29-06-SUMMARY.md
Due: none

feat(29-07): add micro-interaction feedback to all interactive elements
  src/components/dashboard/CategoryPreviewCard.tsx
  src/components/dashboard/NBAHeroCard.tsx
  src/components/hub/StatCard.tsx
  src/components/practice/PracticeConfig.tsx
  src/components/results/QuestionReviewList.tsx
  src/components/sessions/ResumeSessionCard.tsx
  src/components/ui/PillTabBar.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(29-07): complete micro-interaction audit and summary
  .planning/phases/29-visual-foundation/29-07-AUDIT.md
  .planning/phases/29-visual-foundation/29-07-SUMMARY.md
Due: none

fix(phase-29): code review autofix
  src/components/practice/PracticeSession.tsx
  src/components/srs/AddToDeckButton.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(phase-29): build verification autofix
  .planning/config.json
  src/lib/audio/burmeseAudio.test.ts
  src/styles/animations.css
  src/styles/globals.css
  src/styles/prismatic-border.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(phase-29): improve Myanmar text readability at small sizes
  src/styles/globals.css
  tailwind.config.js
Due: pnpm exec prettier --write

fix(phase-29): flip card ExplanationCard white-on-white in light mode
  src/pages/StudyGuidePage.tsx
  src/styles/globals.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(29): simplify ExplanationCard on flip cards to match Flashcard3D
  .claude/learnings/INDEX.md
  .claude/learnings/css-specificity.md
  .claude/learnings/tts-voice-selection.md
  .claude/session-logs/2026-02-19.md
  src/pages/StudyGuidePage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(34): capture phase context
  .planning/phases/34-content-about-page/34-CONTEXT.md
Due: none

docs(state): record phase 34 context session
  .planning/STATE.md
Due: none

docs(34): research phase domain
  .planning/phases/34-content-about-page/34-RESEARCH.md
Due: none

docs(34): create phase plan
  .planning/ROADMAP.md
  .planning/phases/34-content-about-page/34-01-PLAN.md
  .planning/phases/34-content-about-page/34-02-PLAN.md
  .planning/phases/34-content-about-page/34-03-PLAN.md
Due: none

feat(34-01): create bilingual About page content constants
  src/constants/about/aboutContent.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(34-01): complete content data layer plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/34-content-about-page/34-01-SUMMARY.md
Due: none

feat(34-03): add showAbout heart icon to GlassHeader
  src/components/navigation/GlassHeader.tsx
  src/pages/LandingPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(34-02): create DedicationCard bilingual expand component
  src/components/about/DedicationCard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(34-03): add About page links in Settings and LandingPage teaser
  src/pages/LandingPage.tsx
  src/pages/SettingsPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(34-03): complete navigation entry points plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/34-content-about-page/34-03-SUMMARY.md
Due: none

feat(34-02): create AboutPage with route and hidden nav
  src/AppShell.tsx
  src/components/navigation/navConfig.ts
  src/pages/AboutPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(34-02): complete About page UI plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/34-content-about-page/34-02-SUMMARY.md
Due: none

docs(phase-34): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/34-content-about-page/34-VERIFICATION.md
Due: none

docs: add remaining phase artifacts and session learnings
  .claude/learnings/myanmar-typography.md
  .claude/session-logs/2026-02-20.md
  .planning/phases/29-visual-foundation/29-VERIFICATION.md
  .planning/phases/34-content-about-page/34-01-SUMMARY.md
Due: none

feat(about): add honoree theme section, PCP link, and developer credit
  src/constants/about/aboutContent.ts
  src/pages/AboutPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(nav): add language toggle to public page header
  src/components/navigation/GlassHeader.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(landing): add TPS op-ed link to Built with Heart section
  src/pages/LandingPage.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(about): refine narrative voice and add LAB to VIA section
  src/constants/about/aboutContent.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(30): capture phase context
  .planning/phases/30-mobile-native-feel/30-CONTEXT.md
Due: none

docs(30): research phase domain
  .planning/phases/30-mobile-native-feel/30-RESEARCH.md
Due: none

docs(30): create phase plan
  .planning/ROADMAP.md
  .planning/phases/30-mobile-native-feel/30-01-PLAN.md
  .planning/phases/30-mobile-native-feel/30-02-PLAN.md
  .planning/phases/30-mobile-native-feel/30-03-PLAN.md
  .planning/phases/30-mobile-native-feel/30-04-PLAN.md
Due: none

feat(30-02): add three-tier haptic feedback with celebration pattern
  src/lib/haptics.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(30-02): complete haptic feedback system plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-mobile-native-feel/30-02-SUMMARY.md
Due: none

feat(30-01): add CSS mobile guards, safe area utilities, and portrait lock
  public/manifest.json
  src/styles/globals.css
  tailwind.config.js
Due: pnpm exec prettier --write

feat(30-01): apply safe area insets to GlassHeader, BottomTabBar, SyncStatusIndicator
  src/components/navigation/GlassHeader.tsx
  src/components/pwa/SyncStatusIndicator.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(30-01): complete CSS mobile guards plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-mobile-native-feel/30-01-SUMMARY.md
Due: none

feat(30-04): add haptics to navigation and migrate inline vibrate calls
  src/components/interview/LongPressButton.tsx
  src/components/navigation/BottomTabBar.tsx
  src/components/navigation/NavItem.tsx
  src/components/navigation/Sidebar.tsx
  src/components/sessions/UnfinishedBanner.tsx
  src/components/ui/FlagToggle.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(30-04): add haptics to interactive, celebration, and feedback components
  src/components/interview/InterviewSession.tsx
  src/components/quiz/FeedbackPanel.tsx
  src/components/quiz/StreakReward.tsx
  src/components/social/BadgeCelebration.tsx
  src/components/social/ShareButton.tsx
  src/components/social/ShareCardPreview.tsx
  src/components/study/Flashcard3D.tsx
  src/components/ui/BurmeseSpeechButton.tsx
  src/components/ui/SpeechButton.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(30-04): complete haptic integration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-mobile-native-feel/30-04-SUMMARY.md
Due: none

feat(30-03): add swipe-to-dismiss toast with motion/react drag
  src/components/BilingualToast.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write
